{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

<main id="content" role="main">

<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-xlarge">
	      Personal Independence Payment (<abbr>PIP</abbr>)
	    </h1>

		<aside>
			<div class="inner">
				<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
					<ol class="list-bullet list-none grid-row">
						<div class="column-half">
							<li class="font-xsmall">
								1. <a href="overview" title="Part 1:  Overview">Overview</a>
							</li>
							<li class="font-xsmall">
								2. <a href="eligibility" title="Part 2:  Eligibility">Eligibility</a>
							</li>
							<li class="font-xsmall">
								3. <a href="the-application-process" title="Part 3: The application process">How you're assessed</a>
							</li>
						</div>
						<div class="column-half">
							<li class="font-xsmall">
								4. <a href="apply" title="Part 4: Apply">Apply</a>
							</li>
							<li class="font-xsmall">
								5. <a href="report-a-change" title="Part 5:If your circumstances change">If your circumstances change</a>
							</li>
						</div>
					</ol>
				</nav>
			</div>
		</aside>

	    <div class="inner-block">
		    <header>
		    	<h1 class="heading-medium">4. Apply</h1>
		    </header>
			<article>
				<p>Before you apply, <a href="eligibility">check you’re eligible</a> and make sure you have:</p>
				<ul class="list-bullet">
					<li>your National Insurance number</li>
					<li>contact details of any nurses, counsellors, doctors or other people who help you</li>
					<li>details of your medication or treatments</li>
					<li>your bank or building society details</li>
				</ul>

				<div class="panel-indent">
					<p>If you're terminally ill call 0800 917 2222 to have your claim dealt with faster.</p>
				</div>

				<p>You’ll be asked, in detail, about the effects of your condition.  You can ask a friend, family member or <a href="https://www.gov.uk//find-a-community-support-group-or-organisation"</a>support organisation</a> to help you with the application.</p>

				<p>You can save and return to your application as often as you need in the next 28 days.</p>

				<p class="get-started">
					<a class="button button-get-started" href="checkYourAnswers" >Start now</a>
				</p>

				<h2 class="heading-medium">Other ways to apply</h2>

				<p>You can also apply by calling the Personal Independence Payment team.</p>

				<p>Telephone: 0800 917 2222  <br />
					Textphone: 0800 917 7777 <br />
				Monday to Friday, 8am to 6pm<br />
				<a href="http://www.gov.uk/call-charges">Find out about call charges</a></p>
		     </article>

		     <footer>
				<nav class="pagination" role="navigation" aria-label="Pagination">
					<ul class="group">
						<li class="previous">
            				<a href="the-application-process" rel="prev" title="Navigate to previous part">
              					<span class="pagination-label">Previous </span> <span class="pagination-part-title">The application process</span>
              				</a>
              			</li>
          				<li class="next">
            				<a href="report-a-change" rel="next" title="Navigate to next part">
              					<span class="pagination-label">Next</span> <span class="pagination-part-title"> Report a change</span>
							</a>
						</li>
    				</ul>
    			</nav>
    		</footer>

	    </div>
	</div>
	<div class="column-third">
		<div>
			<h2 class="heading-medium" style="border-top: 10px solid #005ea5; padding-top: 15px;">Carers and disability benefits</h2>

			<nav role="navigation" aria-labelledby="parent-subsection">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/pip-checker">Check how Personal Independence Payment (PIP) affects you</a>
					</li>

					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/dla-disability-living-allowance-benefit">Disability Living Allowance (DLA) for adults</a>
					</li>

					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/disability-living-allowance-children">Disability Living Allowance (DLA) for children</a>
					</li>

					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/financial-help-disabled">Financial help if you're disabled</a>
					</li>


					<li class="related-topic">
						<a href="http://www.gov.uk/browse/benefits/disability" title="More in Carers and disability benefits">More<span class="visuallyhidden">in Carers and disability benefits</span></a>
					</li>
				</ul>
			</nav>
		</div>

		<div>
			<h2 class="heading-medium">Benefits</h2>

			<nav role="navigation" aria-labelledby="parent-section">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk//how-to-have-your-benefits-paid">How and when your benefits are paid</a>
					</li>
					<li class="related-topic">
						<a href="http://www.gov.uk//browse/benefits" title="More in Benefits">More <span class="visuallyhidden">in Benefits</span></a>
					</li>
				</ul>
			</nav>
		</div>

		<div>
			<h2 class="heading-medium">Elsewhere on GOV.UK</h2>

			<nav role="navigation" aria-labelledby="parent-other">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk//find-a-community-support-group-or-organisation">Find a community support group or organisation</a>
					</li>
					<li>
						<a href="http://www.gov.uk//looking-for-work-if-disabled">Looking for work if you're disabled</a>
					</li>
				</ul>
			</nav>
		</div>

		<div>
			<h2 class="heading-medium">Elsewhere on the web</h2>

			<nav role="navigation" aria-labelledby="related-external-links">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="https://www.youtube.com/watch?v=dG_nG1MYU3k" rel="external">British Sign Language guide to PIP</a>
					</li>
				</ul>
			</nav>
		</div>

		<div class="inner group">
			<a class="return-to-top font-xsmall" href="#content">Return to top ↑</a>
		</div>


	</div>
</div>


</main>

{% endblock %}
