{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "pip17/elements.html" as elements %}
{% for page in data %}
{% for question in page.manageMedications %}
<main id="content" role="main">

	<div class="grid-row">
			<div class="column-two-thirds">

				<form action="/pip17/manageMedications{% if edit %}?edit=true{% endif %}" method="post" class="form form-group-frequency">
					{{ elements.header(page,question) }}

					{% set seq = [
						{"id":"affect1", "label":"￼remembering to take your medication", "value":"￼remembering to take your medication", "showPanel":"details"},
						{"id":"affect2", "label":"making sure you have enough medication", "value":"making sure you have enough medication", "showPanel":"details"},
						{"id":"affect3", "label":"getting medication out of the packaging", "value":"getting medication out of the packaging", "showPanel":"details"},
						{"id":"affect4", "label":"swallowing", "value":"swallowing", "showPanel":"details"},
						{"id":"affect5", "label":"￼in another way", "value":"in another way", "showPanel":"details",
							"target"         : "target2",
							"textarea"       : true,
							"textareaId"     : "textreadId2",
							"textareaLabel"  : question.textareaQ,
							"textareaAnswer" : answers.textreadId2,
							"hintText"       : question.textareaHintText
						},
						{"id":"affect6", "label":"Your condition does <span class='bold-small'>not</span>  affect you taking your medication", "value":"Your condition does not affect you taking your medication", "hidePanel":"details"}
					] %}
					{{ elements.checkbox('conditionAffect',"checkbox",question.question,page.tickAll,seq,answers,answers.conditionAffect,"check-uncheck") }}

					<div class="form-group panel-indent
					 {% if not answers.conditionAffect  or answers.conditionAffect == 'Your condition does not affect you taking your medication' %}js-hidden{% endif %}" id="details">

						{% set seq2  = [
							{"id":"howOften", "value":question.howoften1},
							{"id":"howOften", "value":question.howoften2},
							{"id":"howOften", "value":question.howoften3},
							{"id":"howOften", "value":question.howoften4,"showPanel":"tellUsHowOften"}
						] %}
						{{ elements.radioSelect('howOften',question.question2,"",answers.howOften,seq2) }}
						<div class="form-group panel-indent {% if answers.howOften != question.howoften2 %}js-hidden{% endif %}" id="tellUsHowOften">
							{{ elements.textarea('howOftenDetails',question.ownWords,answers.howOftenDetails) }}
						</div>

						{% set seq3 = [
							{"id":"checkbox-1", "label":"Someone needs to remind you to take it", "value":"Someone needs to remind you to take it"},
							{"id":"checkbox-2", "label":"Someone needs to help you take it", "value":"Someone needs to help you take it"},
							{"id":"checkbox-3", "label":"You rely on aids or something else to help", "value":"You rely on aids or something else to help"},
							{"id":"checkbox-4", "label":"You manage without help, but with difficulty", "value":"You manage on your own, but with difficulty"},
							{"id":"checkbox-5", "label":"In another way", "value":"In another way",
								"target"        : "target3",
								"textbox"       : true,
								"textboxId"     : "textboxId3",
								"textboxAnswer" : answers.textboxId3}
						] %}
						{{ elements.checkbox('manageNow',"checkbox",question.question3,'',seq3,answers,answers.manageNow) }}

						{{ elements.textarea('moreDetails',question.question4,answers.moreDetails,"",question.helpTextHd,question.helpText) }}

					</div>


					{{ elements.submit(page,question) }}

        </form>
			</div>
	</div>

</main>

{% endfor %}
{% endfor %}
{% endblock %}
