{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "pip17/elements.html" as elements %}
{% for page in data %}
{% for question in page.manageTreatments %}
<main id="content" role="main">

	<div class="grid-row">
			<div class="column-two-thirds">

				<form action="/pip17/manageTreatments{% if edit %}?edit=true{% endif %}" method="post" class="form">
					{{ elements.header(page,question) }}

					{% set seq  = [
						{"id":"monitored","value":"Yes","showPanel":"monitoredDetails"},
						{"id":"monitored", "value":"No"}
					] %}
					{{ elements.radioSelect('monitored',question.question,question.qHintText,answers.monitored,seq,"inline") }}

          <div class="form-group panel-indent {% if answers.monitored != 'Yes' %}js-hidden{% endif %}" id="monitoredDetails">
						{{ elements.genericInput('howManyHours',question.question2,answers.howManyHours,"","form-control-1-8") }}
						{{ elements.textarea("whyNeedMonitoring",question.question3,answers.whyNeedMonitoring) }}
						{{ elements.textarea("howHelpToMonitor",question.question4,answers.howHelpToMonitor) }}
          </div>

					{{ elements.submit(page,question) }}

        </form>
			</div>
	</div>

</main>

{% endfor %}
{% endfor %}
{% endblock %}
