/**********************
screenshots
.js-hidden {
  display: block !important;
}

***********************/
// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look in _govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at patterns.scss to see which files are imported.
@import 'patterns';

@import 'typeahead';

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: $white;
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: Arial !important;
  }
  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: $white;
  }
}

// Related links
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.related-links {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em
  }

  li {
    margin-bottom: 10px;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.
/**************
V1
****************/
.exit-link {
  background-color: $page-colour;
  border: 0px;
  color: $link-colour;
	cursor: pointer;
  margin: 10px 0 0;
	padding: 0px;
	text-decoration: underline;
}

/* pagination solen from GOV UK */
.pagination {
  display: block;
  margin: 4em 0 0 0;
  border-bottom: 1px solid #bfc1c3; }

@media (max-width: 640px) {
  .pagination {
    margin: 2em 0 0 0; }
 }

.pagination ul {
  margin: 0;
  padding: 0; }

.pagination li {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  float: left;
  list-style: none;
  text-align: right;
  margin: 0;
  padding: 0;
  width: 49%; }

@media (max-width: 640px) {
  .pagination li {
    font-size: 14px;
    line-height: 1.14286; }
 }

.pagination li a {
  background-color: transparent;
  display: block;
  color: #005ea5;
  text-decoration: none;
  }

.pagination li a:hover, .pagination li a:active {
  background-color: #f8f8f8; }

.pagination li a .pagination-label {
  font-family: "nta", Arial, sans-serif;
  font-size: 27px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 0.1em;
  display: block; }

@media (max-width: 640px) {
  .pagination li a .pagination-label {
    font-size: 20px;
    line-height: 1.11111; }
 }

.pagination li a .pagination-part-title {
  text-decoration: underline; }

.pagination li.next {
  float: right;
  text-align: right; }

.pagination li.next a:before {
  background: transparent url(/public/images/icons/arrow-sprite.png) no-repeat -102px -11px;
  margin: -4px -32px 0 0;
  display: block;
  float: right;
  width: 30px;
  height: 38px;
  content: " "; }

.pagination li.previous a:before {
  background: transparent url(/public/images/icons/arrow-sprite.png) no-repeat -20px -11px;
  margin: -4px 0 0 -32px;
  display: block;
  float: left;
  width: 30px;
  height: 38px;
  content: " "; }

.pagination li.previous {
  float: left;
  text-align: left; }

.pagination li.previous a {
  padding: 0.75em 0 0.75em 3em; }

.pagination li.next a {
  padding: 0.75em 3em 0.75em 0;
  }

@media (max-width: 640px) {
  .pagination li.previous, .pagination li.next {
    float: left;
    width: 50%; }

  .pagination li.next a {
    text-align: right; }
 }

.pagination .first, .pagination .last {
  min-height: 4.5em; }

.pagination .first span, .pagination .last span {
  display: block;
  min-height: 4.5em;
  padding: 0.75em 5%;
  width: 90%; }

.pagination .first .pagination-label, .pagination .last .pagination-label {
  display: block;
  margin-bottom: 0.5em; }

.list-bullet.list-none {
  list-style-type: none;
  margin-left: 0; }

a.button-get-started {
  background-image: url("/public/images/icons/icon-pointer.png"); }

.mvp-inline p {
  line-height: 2.5em;
  font-weight: bold; }

.mvp-inline input {
  line-height: 1em; }

.mvp-inline textarea {
  line-height: 1em; }

label + input {
  margin-top: 10px; }

label + textarea {
  margin-top: 10px; }

.form-control-small {
  width: 30px; }

/**************
Redesign
****************/

strong {
  font-weight:bold;
}

#submit-group {
  margin-top:20px;
}

.form-title {
  margin-bottom:8px;
}

.form-block {
  margin:10px 0 20px;
}

[class*="heading-"] .section-progress {
  @include core-24;
  color: $secondary-text-colour;
  display:block;
}

.inline > .form-group {
  margin-bottom:0px;
}

.panel-indent {
  margin-top:10px;
}

.panel-indent .form-hint {
  @include core-16;
}

.border-bottom {
  border-bottom:1px solid $border-colour;
}

.secondary-button {
  @include button ($panel-colour);
  box-shadow:0 2px 0 $secondary-text-colour;
  padding: 0.4em 0.7em 0.1em 0.7em;
}

.link-back {
  display: block;
  width:38px;
}

textarea {
  min-height:6em;
}

textarea#additionalInfo {
  min-height:15em;
}

textarea + .character-count {
  float:left;
  margin:5px 0 0 4px;
  text-align:right;
}

fieldset .panel-indent {
  margin-bottom:10px;
}

.help-text {
    margin-top: 15px;
}

.list-help-text {
  margin:-15px 0 0 10px;
}

.panel-indent.disclaimer {
  position:relative;
  background: rgb(40,161,151); /* Fallback for older browsers without RGBA-support */
  background: rgba(40,161,151,0.25);
  border-left:6px solid #28A197;
  padding:20px 27px 15px;
}

.list-user-input li {
  border-bottom:1px solid #bfc1c3;
  float:left;
  width:100%;
}

.list-user-input li,
.panel-indent .list-user-input .form-group:last-child {
  margin-bottom:20px;
}

.list-user-input li:last-child {
  border:none;
  margin-bottom:60px;
}

.list-user-input li h2 {
  float:left;
  margin-top:0;
}

.list-user-input .remove {
  float:right;
}

.highlighted-event {
    background-color: #28a197;
    color: #fff;
    float:none;
    text-align: center;
    padding: 1em 2em 1em 2em;
    margin: 50px auto 10px;
    width:80%;
}

.highlighted-event h1 {
  background: url('../images/tick.png') no-repeat 0 0;
  height:80px;
  margin-bottom: 0;
  padding:20px 0 0 80px;
}


/***************************
check and change
****************************/

.answers-cont {
  border-bottom:1px solid $border-colour;
  float: left;
  margin-bottom: 20px;
  width:100%;
}

.answers-cont h2 {
  border-bottom: 3px solid $border-colour;
  margin:0 0 0.53em;
}

.answers-cont .column-two-thirds {
  padding-left:0;
}

.answers-cont .question {
  color: $secondary-text-colour;
  float:left;
  padding-right:2%;
  width:50%;
  @include box-sizing (border-box);
}

.answers-cont .answer {
  float:left;
  width:50%;
}

.answers-cont li {
  float:left;
  margin-bottom: 13px;
  width:100%;
}

.answers-cont li:last-child {
  margin-bottom: 11px;
}

.answers-cont li:not(:last-child) {
  border-bottom:1px solid $border-colour;
  padding-bottom: 12px;
}

.answers-cont li h3 {
  border-bottom: 1px solid $border-colour;
  color: $secondary-text-colour;
  font-weight:700;
  margin: 2px 0 12px;
  padding-bottom: 8px;
}

.answers-cont li ul .question{
  padding-left: 22px;
  @include box-sizing (border-box);
}

.answers-cont li ul li:last-child {
  margin-bottom: 0;
}

.answers-cont li .list-bullet li{
  border:none;
  margin:0;
  padding-bottom:4px;
}

/**********************
Pip-15
***********************/
.pip-15 .answers-cont {
  margin-bottom:35px;
}

.pip-15 .answers-cont .column-two-thirds {
  display:none;
  }

/**********************
Pip-16
***********************/
.pip-16 .heading-highlight {
  background: rgb(40,161,151); /* Fallback for older browsers without RGBA-support */
  background: rgba(40,161,151,0.25);
  margin: 0;
  padding:10px 15px 8px 15px;
}

.pip-16 .checkYourAnswersCont ul li {
  padding:10px 0 8px;
}

.pip-16 .checkYourAnswersCont ul li:nth-child(even) {
  background:$highlight-colour;
}

.pip-16 .answer-this {
  background: url(../images/empty-tick.png) no-repeat 3px 2px;
  padding-left: 30px;
}

.pip-16 .change-this {
  background: url(../images/cya-tick.png) no-repeat 3px 3px;
  padding-left: 30px;
}

.column-full {
  @include grid-column(1/1);
}

.button {
  margin:0 15px 15px 0;
}

// Indented panels with a grey left hand border
.panel-indent {
  @extend %contain-floats;
  clear: both;
  border-left: 4px solid $border-colour;

  padding: 10px 0 10px $gutter-half;
  margin: ($gutter $gutter-half $gutter*1.5 0);

  legend {
    margin-top: 0;
  }

  // Remove bottom margin on last paragraph
  p:only-child,
  p:last-child {
    margin-bottom: 0;
  }

  .form-group:last-child {
    margin-bottom: 0;
  }
}

/*********************
Helpline number
**********************/
#ad-helpline {
	border-top:3px solid #28A197;
	margin-top:54px;
	padding-top:5px;
}

#ad-helpline p {
	margin-bottom:10px;
}

#ad-helpline h3 {
	margin:10px 0;
}

@media (max-width: 640px){
	#ad-helpline {
	    float: left;
	    margin-top:0;
	}
}

/*********************
PIP18
**********************/
.pip18 #explain-how + textarea.form-control-3-4 {
  height:400px;
}

//check your answers
.pip18 .checkYourAnswersCont h2 {
  margin: 0;
  float: left;
  width: 30%;
}

.pip18 .checkYourAnswersCont ul {
  float: left;
  width:65%;
  margin-top: 3px;
}

.pip18 .checkYourAnswersCont ul li {
  margin-bottom: 15px;
}

.pip18 .checkYourAnswersCont ul li:last-child {
  margin:0;
}

.pip18 .checkYourAnswersCont > div {
  border-top: 2px solid $border-colour;
  padding:15px 0;
}

.checkYourAnswersCont > div:first-child {
  border-top :4px solid $border-colour;
}

.checkYourAnswersCont > div:last-child {
  border:0;
}

.pip18 .answer-this {
  background: url(../images/grey_tick.png) no-repeat 0px 2px;
  background-size: 22px 22px;
  padding-left: 30px;
}

.pip18 .change-this {
  background: url(../images/black_tick.png) no-repeat 0px 2px;
  background-size: 22px 22px;
  padding-left: 30px;
}
/*********************
PIP19
**********************/
.pip19 .hcp-list {
  margin:10px 0 ;
  padding-bottom: 10px;
}

.pip19 .hcp-list.seperator {
  border-bottom: 1px solid $border-colour;
}

.pip21 .twitter-typeahead {
  margin-top:10px;
}

/*********************
PIP21
**********************/

.pip21 .border-top {
  border-top:3px solid #28A197;
}

.pip21 #progress {
  margin-top:30px;
}

.pip21 #progress h3 {
  margin-top:20px;
}

.pip21 #progress ul li {
  margin-bottom:12px;
}

.pip21 #progress .change-this,
.pip21 #progress .answer-this, {
  background-position: 0 0;
}

.pip21 #progress .progress-q {
  opacity: 0.5;
}

.pip21 #otherCountry {
  margin-top:0;
}

#skipQuestion {
  background: $grey-3;
  box-shadow: 0 2px 0 $grey-2;
  color: $black;
  margin-left: -5px;
}

.pip21 .exit-link {
  display: block;
}

.pip21 .keep-a-copy {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
}

.icon-file {
  background: url(../images/icon-file-download.png) no-repeat ;
  background-size: 25px 30px;
  padding-left: 31px;
}

/*********************
PIP22
**********************/

.panel.blue-alert {
  border-color: #2b8cc4;
  background-color: #eaf4f9;
}

/*********************
PIP23
**********************/

.border-top-take-break {
  border-top:3px solid $border-colour;
  margin-top:15px;
  padding-top:15px;
}
