// Import GOV.UK elements, this will import the frontend toolkit and some base styles.
// Take a look at elements.scss to see which files are imported.
@import 'elements';

// Set up your main content area <main id="content">
// This will give you a full width content block
// See elements _layout.scss line 7.

// If you need it, set up your grid layout - refer to the grid layout usage example
// See elements _layout.scss line 28.

// If you need a phase banner, put this inside the main content area
// See elements _layout.scss line 22.
.phase-banner-alpha  {
  @include phase-banner(beta); // Change this to (beta) for a beta banner
}
.phase-tag-alpha {
  @include phase-tag(beta); // Change this to (beta) for a beta tag
}

// If you need to create a page as part of your journey, but without GOV.UK branding
// See localhost:3000/examples/unbranded/
.unbranded {
  background: $white;
  // Use the universal selector and !important to *ALWAYS OVERRIDE* GDS Transport
  * {
    font-family: Arial !important;
  }
  // Remove GOV.UK footer styles
  #footer {
    border: 0;
    background: $white;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you,
// either add and import new partial files, or modify those in GOV.UK elements to fit your user needs.
/**************
V1
****************/
.exit-link {
  background-color: $page-colour;
  border: 0px;
  color: $link-colour;
	cursor: pointer;
  margin: 10px 0 0;
	padding: 0px;
	text-decoration: underline;
}

/**************
Redesign
****************/

strong {
  font-weight:bold;
}

#submit-group {
  margin-top:20px;
}

.form-title {
  margin-bottom:8px;
}

.form-block {
  margin:10px 0 20px;
}

[class*="heading-"] .section-progress {
  @include core-24;
  color: $secondary-text-colour;
  display:block;
}

.inline > .form-group {
  margin-bottom:0px;
}

.panel-indent {
  margin-top:10px;
}

.panel-indent .form-hint {
  @include core-16;
}

.border-bottom {
  border-bottom:1px solid $border-colour;
}

.secondary-button {
  @include button ($panel-colour);
  box-shadow:0 2px 0 $secondary-text-colour;
  padding: 0.4em 0.7em 0.1em 0.7em;
}

.link-back {
  display: block;
  width:38px;
}

textarea {
  min-height:6em;
}

textarea + .character-count {
  float:left;
  margin:5px 0 0 4px;
  text-align:right;
}

fieldset .panel-indent {
  margin-bottom:10px;
}

.help-text {
    margin-top: 15px;
}

.list-help-text {
  margin:-15px 0 0 10px;
}

.form-login .panel-indent {
  position:relative;
  background: rgb(40,161,151); /* Fallback for older browsers without RGBA-support */
  background: rgba(40,161,151,0.25);
  border-left:6px solid #28A197;
  padding:20px 27px 15px;
}

.list-user-input li {
  border-bottom:1px solid #bfc1c3;
  float:left;
  width:100%;
}

.list-user-input li,
.panel-indent .list-user-input .form-group:last-child {
  margin-bottom:20px;
}

.list-user-input li:last-child {
  border:none;
  margin-bottom:60px;
}

.list-user-input li h2 {
  float:left;
  margin-top:0;
}

.list-user-input .remove {
  float:right;
}
