
{% macro checkChange(questions,helperAnswers,nationalityAnswers,paymentsFromAbroadAnswers) %}
{% for questions in questions.helper %}
<li>
  <div class="form-group">
    <p class="check-question column-third">{{questions.heading}}</p>
    <p class="column-two-thirds">
      <a href="#" class="show-answer" aria-label="Hide my answers for Help with your application" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
    </p>
  </div>
  <div class="answered-question-cont">
    <div class="answered-question  ">
      <p class="question form-label-bold column-third">{{ questions.question2 }}</p>
      <p class="show-answer column-two-thirds">{{ helper.name }}</p>
    </div>
    <div class="answered-question  ">
      <p class="question form-label-bold column-third">{{ questions.question3 }}</p>
      <p class="show-answer column-two-thirds">{{ helper.relationship }}</p>
    </div>
    <div class="column-two-thirds">
      <a href="/pip13/helper?edit=true" class="button change-my-answer" aria-label="Change my answers for Help with your application">Change my answers</a>
    </div>
  </div>
</li>
{% endfor %}
{% for questions in questions.nationality %}
<li>
  <div class="form-group">
    <p class="check-question column-third">{{ questions.heading }}</p>
    <p class="column-two-thirds">
      <a href="#" class="show-answer" aria-label="Hide my answers for Nationality and where you live" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
    </p>
  </div>
  <div class="answered-question-cont">
    <div class="answered-question  ">
      <p class="question form-label-bold column-third">{{ questions.question }}</p>
      <p class="show-answer column-two-thirds">{{nationalityAnswers.britishCitizen}}</p>
    </div>
    <div class="answered-question  ">
      <p class="question form-label-bold column-third">{{ questions.question2 }}</p>
      <p class="show-answer column-two-thirds">{{nationalityAnswers.yourNationality}}</p>
    </div>
    <div class="answered-question  ">
      <p class="question form-label-bold column-third">{{ questions.question3 }}</p>
      <p class="show-answer column-two-thirds">{{nationalityAnswers.livingUK}}</p>
    </div>
    <div class="answered-question  ">
      <p class="question form-label-bold column-third">{{ questions.question4 }}</p>
      <p class="show-answer column-two-thirds">{{nationalityAnswers.livingCountry}}</p>
    </div>
    <div class="answered-question  ">
      <p class="question form-label-bold column-third">{{ questions.question5 }}</p>
      <p class="show-answer column-two-thirds">{{nationalityAnswers.beenAbroad}}</p>
    </div>
    <div class="column-two-thirds">
      <a href="/pip13/nationality?edit=true" class="button change-my-answer" aria-label="Change my answers for Nationality and where you live">Change my answers</a>
    </div>
  </div>
</li>
{% endfor %}
{% for questions in questions.paymentsFromAbroad %}
<li>
  <div class="form-group">
    <p class="check-question column-third">{{ questions.heading }}</p>
    <p class="column-two-thirds">
      <a href="#" class="show-answer" aria-label="Hide my answers for Payments from abroad and working abroad" data-open-text="Show my answers" data-close-text="Hide my answers">Hide my answers</a>
    </p>
  </div>
  <div class="answered-question-cont">
    <div class="answered-question  ">
      <p class="question form-label-bold column-third">{{ questions.question }}</p>
      <p class="show-answer column-two-thirds">{{paymentsFromAbroadAnswers.benefitsAbroadPayment}}</p>
    </div>
    <div class="answered-question  ">
      <p class="question form-label-bold column-third">{{ questions.question2 }}</p>
      <p class="show-answer column-two-thirds">{{paymentsFromAbroadAnswers.payInsuranceAbroad}}</p>
    </div>
    <div class="column-two-thirds">
      <a href="/pip13/paymentsFromAbroad?edit=true" class="button change-my-answer" aria-label="Change my answers for Payments from abroad and working abroad">Change my answers</a>
    </div>
  </div>
</li>
{% endfor %}
{% endmacro %}
