{% macro submit(page,questions) %}
<div class="form-group">
    <input type="submit" class="button" value="{{page.continue}}" name="saveAndcontinue">
    <input type="submit" value="{{page.saveExit}}" name="saveAndExit" class="exit-link">
  <a href="{{questions.backLink}}" class="example-back-link">{{page.backText}}</a>
</div>
{% endmacro %}

{% macro genericInput(id,question,answer) %}
<div class="form-group" id="form-group-{{ id }}">
  <label class="form-label" for="{{ id }}">{{question}}</label>
  <input type="text" class="form-control " id="{{ id }}"  name="{{ id }}" value="{{ answer }}">
</div>
{% endmacro %}

{% macro formRadioSelect(id,question,hintText,answer,radioOptions,inline) %}
<div class="form-group" id="form-group-{{ id }}">
  <fieldset {% if inline %}class="inline"{% endif %}>
    <legend class="form-label-bold" id="{{ id }}" for="{{ id }}">
      <span class="frequency-question">{{ question }}</span>
      {% if hintText %}
        <p class="form-hint">{{ hintText }}</p>
      {% endif %}
    </legend>
    {% for item in radioOptions %}
      <label class="block-label" for="{{ item.id }}"
        {% if item.showPanel %} data-target="{{ item.showPanel }}"{% endif %}
      >
      <input id="{{ item.id }}" type="radio" name="{{ id }}"
        {% if answer == item.value %}checked='checked' {% endif %}
        value="{{ item.value }}" aria-controls="{{ item.showPanel }}"> {{ item.value }}
      </label>
    {% endfor %}
  </fieldset>
</div>
{% endmacro %}
