{% macro header(page,question) %}
<header>
  <h1 class="form-title heading-xlarge">

    {{question.heading}}</h1>
</header>
<p class="lede">{{ question.introText|safe }}</p>
{% endmacro %}

{% macro submit(data,questions,backLink,showReturnToMenu) %}
<div id="submit-group" class="form-group">
    {% if questions.warningMsg %}
      <p>{{questions.warningMsg}}</p>
    {% endif %}
    <input type="submit" class="button"
    value="{% if questions.submit %} {{questions.submit}} {% else %} {{data.continue}} {% endif %}"
    name="saveAndcontinue">
    {% if showReturnToMenu != false %}
      <input type="submit" value="{{data.saveExit}}" name="saveAndMenu" class="exit-link">
    {% endif %}
    {% if backLink != false %}
      <a href="{{questions.backLink}}" class="link-back">{{data.backText}}</a>
    {% endif %}
</div>
{% endmacro %}

{% macro returnToMenu(data,questions,backlink) %}
<div id="submit-group" class="form-group">
    <input type="submit" class="button" value="{{data.saveExit}}" name="saveAndMenu" class="exit-link">
    {% if backLink != false %}
      <a href="{{questions.backLink}}" class="link-back">{{data.backText}}</a>
    {% endif %}
</div>
{% endmacro %}

{% macro textInput (id,answer) %}
<div class="form-group" id="form-group-{{ id }}">
  <input type="text" class="form-control " id="{{ id }}" name="{{ id }}" value="{{ answer }}">
</div>
{% endmacro %}

{% macro genericInput(id,question,answer,hintText,inputSize,type='text') %}
<div class="form-group" id="form-group-{{ id }}">
  <label class="form-label" for="{{ id }}">{{question}}
  {% if hintText %}
    <span class="form-hint">{{ hintText }}</span>
  {% endif %}
  </label>
  <input type="{{ type }}" class="form-control {% if inputSize %}{{ inputSize }}{% endif %}" id="{{ id }}"  name="{{ id }}" value="{{ answer }}">
</div>
{% endmacro %}

{% macro genericInputList(id,question,answer,name,hintText,inputSize,type='text') %}
<div class="form-group" id="form-group-{{ id }}">
  <label class="form-label" for="{{ id }}">{{question}}
  {% if hintText %}
    <span class="form-hint">{{ hintText }}</span>
  {% endif %}
  </label>
  <input type="{{ type }}" data-name="{{ name }}" class="form-control {% if inputSize %}{{ inputSize }}{% endif %}" id="{{ id }}"  name="{{ id }}" value="{{ answer }}">
</div>
{% endmacro %}

{% macro genericInputPhone(id,question,answer,answerTextPhone,hintText,inputSize,password=false) %}
<div class="form-group" id="form-group-{{ id }}">
  <label class="form-label" for="{{ id }}">{{question}}
  {% if hintText %}
    <span class="form-hint">{{ hintText }}</span>
  {% endif %}
  </label>
  <input
  {% if password == true %}
    type="password"
  {% else %}
    type="text"
  {% endif %}
  class="form-control {% if inputSize %}{{ inputSize }}{% endif %}" id="{{ id }}"  name="{{ id }}" value="{{ answer }}">

  <label class="form-checkbox" for="checkbox-telephone-number">
    <input id="checkbox-telephone-number" name="textPhone" type="checkbox" value="true" {% if answerTextPhone == 'true' %} checked=checked {% endif %}>
    You have hearing difficulties and need to be contacted using a text phone
  </label>
</div>
{% endmacro %}

{% macro date(id,question,answer)%}
<fieldset class="form-group">
  <legend>{{ question }}</legend>
  <div class="form-date">
    <div class="form-group form-group-day">
      <label for="{{id}}-dob-day">Day</label>
      <input class="form-control" id="{{id}}-dob-day" name="dobDay" value="{{answer}}-dob-day" type="number" pattern="[0-9]*" min="0" max="31">
    </div>

    <div class="form-group form-group-month">
      <label for="{{id}}-dob-month">Month</label>
      <input class="form-control" id="{{id}}-dob-month" name="dobMonth" value="{{answer}}-dob-month" type="number" pattern="[0-9]*" min="0" max="12">
    </div>

    <div class="form-group form-group-year">
      <label for="{{id}}-dob-year">Year</label>
      <input class="form-control" id="{{id}}-dob-year" name="dobYear" value="{{answer}}-dob-year" type="number" pattern="[0-9]*" min="0" max="2014">
    </div>
  </div>

</fieldset>
{% endmacro %}

{% macro radioSelect(id,question,hintText,answer,radioOptions,inline,dayshelptext,freqHelpText) %}
<fieldset id="{{ id }}" class="form-group {% if inline %}inline{% endif %}"
{% if dayshelptext %}
  data-dayshelptext="{{dayshelptext}}"
{% endif %}
{% if freqHelpText %}
  data-freqhelptext="{{freqHelpText}}"
{% endif %}
>
  <legend for="{{ id }}">
    <span class="frequency-question">{{ question }}</span>
    {% if hintText %}
      <span class="form-hint">{{ hintText }}</span>
    {% endif %}
  </legend>
  <div class="form-group">
    {% for item in radioOptions %}
      <label class="block-label" for="{{ id }}-{{ item.value }}"
        {% if item.showPanel %} data-target="{{ item.showPanel }}"{% endif %} >

      <input id="{{ id }}-{{ item.value }}" type="radio" name="{{ id }}"
        {% if answer == item.value %}checked='checked' {% endif %}
        value="{{ item.value }}" aria-controls="{{ item.showPanel }}">{{ item.value }}
      </label>
    {% endfor %}
  </div>
</fieldset>
{% endmacro %}

{% macro textarea(id,label,answer,hintText,helpTextHd,reveleaingHelpText,maxlength=1500,characterCount) %}
<div class="form-group">
  <label for="{{ id }}">
    <span class="form-label">
      {{ label }}
    </span>
    {% if hintText %}
      <span class="form-hint">{{ hintText }}</span>
    {% endif %}
  </label>
  {% if reveleaingHelpText %}
    <p>{{ helpTextHd }}</p>
    <ul id="explain-how" class="list-bullet list-help-text">
      {% for item in reveleaingHelpText %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <textarea  {% if characterCount != false %} maxlength="{{ maxlength }}" {% endif %} class="form-control form-control-3-4" id="{{ id }}" name="{{ id }}">{{answer}}</textarea>

  {% if characterCount != false %}
    <span class="font-xsmall form-control-3-4 character-count"><span class="char-count">{{ maxlength }}</span> characters left</span>
  {% endif %}
</div>
{% endmacro %}

{% macro checkbox(id,type,question,hintText,checkboxOptions,answers,optionAnswers,fieldsetClass,dayshelptext,freqHelpText) %}
<fieldset id="{{ id }}" class="form-group {% if fieldsetClass %} {{ fieldsetClass }} {% endif %}"
  {% if dayshelptext %}
    data-dayshelptext="{{dayshelptext}}"
  {% endif %}
  {% if freqHelpText %}
    data-freqhelptext="{{freqHelpText}}"
  {% endif %}
>
  <legend>{{ question }}</legend>
  {% if hintText %}
    <p class="form-hint">{{ hintText }}</p>
  {% endif %}

  {% for item in checkboxOptions %}
  {% set savedAnswer = '' %}

  {% if item.hidePanel %}
    {% if item.showOr != 'false' %}
      <p class="form-block">or</p>
    {% endif %}
  {% endif %}
    <label class="block-label" for="{{ item.id }}"
      {% if item.textarea or item.textbox %}
        data-target="{{ item.target }}"
      {% endif %}
      {% if item.showPanel %}
        data-show="{{ item.showPanel }}"
      {% endif %}
      {% if item.hidePanel %}
        data-hide="{{ item.hidePanel }}"
      {% endif %}
      >
      <input id="{{ item.id }}" name="{{ id }}"
      {% if item.helpText %}
        data-helpText="{{item.helpText}}"
      {% endif %}
      {% if item.helpText2 %}
        data-helpText2="{{item.helpText2}}"
      {% endif %}

      type="{{ type }}" value="{{ item.value }}"

      {% set inputValue = item.value %}
      {% for answer in optionAnswers %}
        {% if loop.first %}
          {% if answer.length < 2 %}
            {% if optionAnswers == item.value %}
              checked='checked'
              {% set savedAnswer = optionAnswers %}
            {% endif %}
          {% endif %}
        {% endif %}
        {% if answer == item.value %}
          checked='checked'
          {% set savedAnswer = answer %}
        {% endif %}
      {% endfor %}
      >
    {{ item.label|safe }}
    </label>
    {% if item.textarea %}
      <fieldset id="{{ item.target }}" class="js-hidden panel-indent form-group-related" aria-hidden="false"
      {% if savedAnswer == inputValue %}
        style="display:block;"
      {% endif %}
      >
      {{ textarea(item.textareaId,item.textareaLabel,item.textareaAnswer,item.hintText) }}
      </fieldset>
    {% endif %}
    {% if item.textbox %}
      <div id="{{ item.target }}" class="js-hidden panel-indent form-group-related" aria-hidden="false"
        {% if savedAnswer == inputValue %}
          style="display:block;"
        {% endif %}>
        {{ genericInput(item.textboxId,"",item.textboxAnswer) }}
      </div>
    {% endif %}
  {% endfor %}
</fieldset>
{% endmacro %}

{% macro helpText(summary,hintText,list,open=true) %}
<details class="help-text"
{% if open != false %}
open
{% endif %}
>
  <summary><span class="summary">{{ summary }}</span></summary>
  <div class="panel-indent">
    <p>
      {{ hintText }}
    </p>
    <ul class="list-bullet">
      {% for item in list %}
        <li>{{ item.listItem }}</li>
      {% endfor %}
    </ul>
  </div>
</details>
{% endmacro %}


{% macro frequency(frequencyList,id,question,answers,optionAnswer,dayshelptext,freqHelpText) %}
{% for frequency in frequencyList %}
{% set seq2 = [
  {"id":"freq1", "label":frequency.allTime, "value":frequency.allTime },
  {"id":"freq2", "label":frequency.moreHalf, "value":frequency.moreHalf },
  {"id":"freq3", "label":frequency.lessHalf, "value":frequency.lessHalf },
  {"id":"freq4", "label":frequency.ownWords, "value":frequency.ownWords ,
    "target"        : "ownWords",
    "textbox"       : true,
    "textboxId"     : "ownWords",
    "textboxAnswer" : answers.ownWords
  }
] %}
{{ checkbox(id,"radio",question,'',seq2,answers,optionAnswer,"",dayshelptext,freqHelpText) }}
{% endfor %}
{% endmacro %}

<!-- check your answers macros -->
{% macro doesYourCondition(question,answer,pageKey,page) %}
<li>
  <span class="question">{{question[pageKey + "Does"]}}</span>
  <span class="answer">
    {% if answer.optionsName|length < 8 %}
    <ul class="list-bullet">
      {% for answerOption in answer.optionsName %}
        <li>
          {{answerOption}}
          {% if answerOption|lower == 'in another way' or answerOption|lower == 'something else' %}
            - {{answer.textboxId2}}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% else %}
      {{answer.optionsName}}
      {% if answer.optionsName|lower == 'in another way' or answer.optionsName|lower == 'something else' %}
        - {{answer.textboxId2}}
      {% endif %}
    {% endif %}
  </span>
</li>
{% endmacro %}

{% macro conditionOften(question,answer,pageKey,page) %}
<li>
  <span class="question">{{question[pageKey + "Often"]}}</span>
  <span class="answer">
    {% if answer.frequencyOption == 'Explain how often in your own words' %}
      {{answer.ownWords}}
    {% else %}
      {{answer.frequencyOption}}
    {% endif %}
  </span>
</li>
{% endmacro %}

{% macro conditionAffect(question,answer,pageKey,page) %}
<li>
  <span class="question">{{question[pageKey + "When"]}}</span>
  <span class="answer">
    {% if answer.conditionAffect|length < 10 %}
    <ul class="list-bullet">
      {% for affects in answer.conditionAffect %}
        <li>
          {{affects}}
          {% if affects|lower == 'in another way' %}
            - {{answer.conditionAffectOther}}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
    {% else %}
      {{answer.conditionAffect}}
      {% if answer.conditionAffect|lower == 'in another way' %}
        - {{answer.conditionAffectOther}}
      {% endif %}
    {% endif %}
  </span>
</li>
{% endmacro %}

{% macro conditionExplainHow(question,answer,pageKey,page) %}
<li>
  <span class="question">{{question[pageKey + "How"]}}</span>
  <span class="answer">{{answer.howDoes}}</span>
</li>
{% endmacro %}

<!-- check your answers -->
{% macro yourHomeAnswers(question,answer,pageKey,page) %}
{% for pageKeyContent in page[pageKey]%}
  <div class="column-full">
    <div class="answers-cont">
      <h2 class="heading-medium">{{question[pageKey + "Hd"]}}</h2>
      <ul class="column-two-thirds">

        {% if question[pageKey + "Does"] %}
          {{ doesYourCondition(question,answer,pageKey,page) }}
        {% endif %}

        {% if answer.optionsName != pageKeyContent.doesntLabel %}

          {% if question[pageKey + "Often"] %}
            {{ conditionOften(question,answer,pageKey,page) }}
          {% endif %}

          {% if question[pageKey + "When"] %}
            {{ conditionAffect(question,answer,pageKey,page) }}
          {% endif %}

          {% if question[pageKey + "How"] %}
            {{ conditionExplainHow(question,answer,pageKey,page) }}
          {% endif %}

        {% endif %}
      </ul>
      <a href="/pip18/{{pageKey}}?edit=true">{{question.changeLinkTxt}}</a>
    </div>
  </div>
{% endfor %}
{% endmacro %}

<!-- enter/change answers for non-linear in pip18 -->
{% macro EnterChangeAnswers(question,pageKey,page) %}
<div id="{{pageKey}}" class"column-third">
  {% if question %}
    <a href="{{pageKey}}" class="change-this">{{ page.changeAnswer}}</a>
  {% else %}
    <a href="{{pageKey}}" class="answer-this">{{ page.enterAnswer  }}</a>
  {% endif %}
</div>
{% endmacro %}

{% macro helpline(page) %}
{% for helpline in page.helpline %}
<div class="column-third">
  <div id="ad-helpline" class="">
    <p>{{helpline.p1}}</p>
    <h3 class="heading-medium tel">{{helpline.p2}}</h3>
    <p class="form-hint">{{helpline.p3}}</p>
    <p>{{helpline.p4}}</p>
    <h3 class="heading-medium tel">{{helpline.p5}}</h3>
    <p class="form-hint">{{helpline.p6}}</p>
    <p>{{helpline.p7}}</p>
    <p>{{helpline.p8}}</p>
    <p>{{helpline.p9}}</p>
  </div>
</div>
{% endfor %}
{% endmacro %}
