{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

<main id="content" role="main" class="pip18">

	<div class="grid-row">
		<div class="column-two-thirds">
		    <h1 class="form-title heading-xlarge">
		      Personal Independence Payment (<abbr>PIP</abbr>)
		    </h1>

			<aside>
				<div class="inner">
					<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
						<ol class="list-bullet list-none grid-row">
							<div class="column-half">
								<li class="font-xsmall">
									1. <a href="overview" title="Part 1:  Overview">Overview</a>
								</li>
								<li class="font-xsmall">
									2. <a href="eligibility" title="Part 2:  Eligibility">Eligibility</a>
								</li>
								<li class="font-xsmall">
									3. <a href="the-application-process" title="Part 3: The application process">How you're assessed</a>
								</li>
							</div>
							<div class="column-half">
								<li class="font-xsmall">
									4. <a href="apply" title="Part 4: Apply">Apply</a>
								</li>
								<li class="font-xsmall">
									5. <a href="report-a-change" title="Part 5: If your circumstances change">If your circumstances change</a>
								</li>
							</div>
						</ol>
					</nav>
				</div>
			</aside>

		    <div class="inner-block">
			    <header>
			    	<h1 class="heading-medium">2. Eligibility</h1>
			    </header>
				<article>
					<p>To get Personal Independence Payment, you must:</p>

					<ul class="list-bullet">
						<li>be aged 16 to 64</li>
						<li>have a disability or condition that affects you more than half the time</li>
						<li>have been a resident of England, Scotland or Wales for at least 2 of the last 3 years</li>
						<li>normally live in England, Scotland or Wales, or live abroad as a member of the armed forces</li>
						<li>not be subject to <a href="#">immigration control</a> (unless you’re a sponsored immigrant)</li>
					</ul>

					<div class="panel-indent">
						<p>You can apply for PIP if you’re <a href="/claim-benefits-abroad/illness-injury-and-disability-benefits">living in another European Economic Area (EEA) country or Switzerland.</a></p>
					</div>

					<p>Your condition does not have to be permanent, but you must have have been affected by it for the last 3 months, and expect it to last at least the next 9 months. </p>

					<p>You’ll be assessed on whether your condition affects you:</p>
					<ul class="list-bullet">
						<li>managing your medicines, treatments or therapies</li>
						<li>seeing, speaking or hearing</li>
						<li>using the toilet</li>
						<li>washing or bathing</li>
						<li>dressing yourself</li>
						<li>preparing or cooking a meal from fresh ingredients</li>
						<li>eating or drinking</li>
						<li>getting out and about</li>
						<li>mixing with people</li>
						<li>planning or following a route</li>
						<li>understanding written information</li>
						<li>dealing with money</li>
	        </ul>

				</article>

				<footer>
					<nav class="pagination" role="navigation" aria-label="Pagination">
						<ul class="group">
							<li class="previous">
	            				<a href="overview" rel="prev" title="Navigate to previous part">
	              					<span class="pagination-label">Previous </span> <span class="pagination-part-title">Overview</span>
	              				</a>
	              			</li>
	          				<li class="next">
	            				<a href="the-application-process" rel="next" title="Navigate to next part">
	              					<span class="pagination-label">Next</span> <span class="pagination-part-title"> How you're assessed</span>
								</a>
							</li>
	    				</ul>
	    			</nav>
	    		</footer>

		    </div>
		</div>
		<div class="column-third">
			<div>
				<h2 class="heading-medium" style="border-top: 10px solid #005ea5; padding-top: 15px;">Carers and disability benefits</h2>

				<nav role="navigation" aria-labelledby="parent-subsection">
					<ul class="font-xsmall" style="list-style-type: none;">
						<li style="padding-bottom: 0.7em;">
							<a href="http://www.gov.uk/pip-checker">Check how Personal Independence Payment (PIP) affects you</a>
						</li>

						<li style="padding-bottom: 0.7em;">
							<a href="http://www.gov.uk/dla-disability-living-allowance-benefit">Disability Living Allowance (DLA) for adults</a>
						</li>

						<li style="padding-bottom: 0.7em;">
							<a href="http://www.gov.uk/disability-living-allowance-children">Disability Living Allowance (DLA) for children</a>
						</li>

						<li style="padding-bottom: 0.7em;">
							<a href="http://www.gov.uk/financial-help-disabled">Financial help if you're disabled</a>
						</li>


						<li class="related-topic">
							<a href="http://www.gov.uk/browse/benefits/disability" title="More in Carers and disability benefits">More<span class="visuallyhidden">in Carers and disability benefits</span></a>
						</li>
					</ul>
				</nav>
			</div>

			<div>
				<h2 class="heading-medium">Benefits</h2>

				<nav role="navigation" aria-labelledby="parent-section">
					<ul class="font-xsmall" style="list-style-type: none;">
						<li style="padding-bottom: 0.7em;">
							<a href="http://www.gov.uk//how-to-have-your-benefits-paid">How and when your benefits are paid</a>
						</li>
						<li class="related-topic">
							<a href="http://www.gov.uk//browse/benefits" title="More in Benefits">More <span class="visuallyhidden">in Benefits</span></a>
						</li>
					</ul>
				</nav>
			</div>

			<div>
				<h2 class="heading-medium">Elsewhere on GOV.UK</h2>

				<nav role="navigation" aria-labelledby="parent-other">
					<ul class="font-xsmall" style="list-style-type: none;">
						<li style="padding-bottom: 0.7em;">
							<a href="http://www.gov.uk//find-a-community-support-group-or-organisation">Find a community support group or organisation</a>
						</li>
						<li>
							<a href="http://www.gov.uk//looking-for-work-if-disabled">Looking for work if you're disabled</a>
						</li>
					</ul>
				</nav>
			</div>

			<div>
				<h2 class="heading-medium">Elsewhere on the web</h2>

				<nav role="navigation" aria-labelledby="related-external-links">
					<ul class="font-xsmall" style="list-style-type: none;">
						<li style="padding-bottom: 0.7em;">
							<a href="https://www.youtube.com/watch?v=dG_nG1MYU3k" rel="external">British Sign Language guide to PIP</a>
						</li>
					</ul>
				</nav>
			</div>

			<div class="inner group">
				<a class="return-to-top font-xsmall" href="#content">Return to top ↑</a>
			</div>

		</div>
	</div>

</main>

{% endblock %}
