<!-- getting up -->
{{ elements.yourHomeAnswers(question,gettingUp,"gettingUp",page) }}

<!-- toilet -->
{{ elements.yourHomeAnswers(question,toilet,"toilet",page) }}

<!-- washing -->
{{ elements.yourHomeAnswers(question,washing,"washing",page) }}

<!-- gettingDressed -->
{{ elements.yourHomeAnswers(question,gettingDressed,"gettingDressed",page) }}

<!-- hotMeal -->
{{ elements.yourHomeAnswers(question,hotMeal,"hotMeal",page) }}

<!-- eatingAndDrinking -->
{{ elements.yourHomeAnswers(question,eatingAndDrinking,"eatingAndDrinking",page) }}
