{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}
<main id="content" role="main">

<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-xlarge">
	      Personal Independence Payment (<abbr>PIP</abbr>)
	    </h1>

		<aside>
			<div class="inner">
				<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
					<ol class="list-bullet list-none grid-row">
						<div class="column-half">
							<li class="font-xsmall">
								1. <a href="overview" title="Part 1:  Overview">Overview</a>
							</li>
							<li class="font-xsmall">
								2. <a href="eligibility" title="Part 2:  Eligibility">Eligibility</a>
							</li>
							<li class="font-xsmall">
								3. <a href="the-application-process" title="Part 3: The application process">How you're assessed</a>
							</li>
						</div>
						<div class="column-half">
							<li class="font-xsmall">
								4. <a href="apply" title="Part 4: Apply">Apply</a>
							</li>
							<li class="font-xsmall">
								5. <a href="report-a-change" title="Part 5: If your circumstances change">If your circumstances change</a>
							</li>
						</div>
					</ol>
				</nav>
			</div>
		</aside>

	    <div class="inner-block">
		    <header>
		    	<h1 class="heading-medium">5. If your circumstances change</h1>
		    </header>
			<article>
				<p>You must call if:</p>

				<ul class="list-bullet">
          <li>your personal details change, eg your name, address or doctor</li>
          <li>your condition or the help you need changes</li>
          <li>you stay overnight in a hospital or care home </li>
          <li>you go abroad for more than 13 weeks</li>
          <li>you’re imprisoned or held in detention</li>
				</ul>

        <div class="panel-indent">
          <p>You could have to go to court or pay a penalty if you deliberately give false or incomplete information, or do not report changes.</p>
          <p>Your Personal Independence Payment may also be stopped or reduced.</p>
        </div>

				<h3 class="heading-small">Personal Independence Payment enquiry line</h3>

				<p>Telephone: 0345 850 3322<br>
				Textphone: 0345 601 6677<br>
				Monday to Friday, 8am to 6pm<br>
				<a href="http://www.gov.uk/call-charges">Find out about call charges</a></p>
			</article>

			<footer>
				<nav class="pagination" role="navigation" aria-label="Pagination">
					<ul class="group">
						<li class="previous">
            				<a href="apply" rel="prev" title="Navigate to previous part">
              					<span class="pagination-label">Previous </span> <span class="pagination-part-title">Apply</span>
              				</a>
              			</li>

    				</ul>
    			</nav>
    		</footer>

	    </div>
	</div>

	<div class="column-third">
		<div>
			<h2 class="heading-medium" style="border-top: 10px solid #005ea5; padding-top: 15px;">Carers and disability benefits</h2>

			<nav role="navigation" aria-labelledby="parent-subsection">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/pip-checker">Check how Personal Independence Payment (PIP) affects you</a>
					</li>

					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/dla-disability-living-allowance-benefit">Disability Living Allowance (DLA) for adults</a>
					</li>

					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/disability-living-allowance-children">Disability Living Allowance (DLA) for children</a>
					</li>

					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/financial-help-disabled">Financial help if you're disabled</a>
					</li>


					<li class="related-topic">
						<a href="http://www.gov.uk/browse/benefits/disability" title="More in Carers and disability benefits">More<span class="visuallyhidden">in Carers and disability benefits</span></a>
					</li>
				</ul>
			</nav>
		</div>

		<div>
			<h2 class="heading-medium">Benefits</h2>

			<nav role="navigation" aria-labelledby="parent-section">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk//how-to-have-your-benefits-paid">How and when your benefits are paid</a>
					</li>
					<li class="related-topic">
						<a href="http://www.gov.uk//browse/benefits" title="More in Benefits">More <span class="visuallyhidden">in Benefits</span></a>
					</li>
				</ul>
			</nav>
		</div>

		<div>
			<h2 class="heading-medium">Elsewhere on GOV.UK</h2>

			<nav role="navigation" aria-labelledby="parent-other">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk//find-a-community-support-group-or-organisation">Find a community support group or organisation</a>
					</li>
					<li>
						<a href="http://www.gov.uk//looking-for-work-if-disabled">Looking for work if you're disabled</a>
					</li>
				</ul>
			</nav>
		</div>

		<div>
			<h2 class="heading-medium">Elsewhere on the web</h2>

			<nav role="navigation" aria-labelledby="related-external-links">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="https://www.youtube.com/watch?v=dG_nG1MYU3k" rel="external">British Sign Language guide to PIP</a>
					</li>
				</ul>
			</nav>
		</div>

		<div class="inner group">
			<a class="return-to-top font-xsmall" href="#content">Return to top ↑</a>
		</div>

	</div>
</div>

</main><!-- / #page-container -->

{% endblock %}
