{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "pip22/macros/elements.html" as elements %}
{% for page in data %}
{% for question in page.additionalSupport %}
<main id="content" role="main" class="pip22">

	<div class="grid-row">
			<div class="column-two-thirds">

				<form action="/pip22/additionalSupport{% if edit %}?edit=true{% endif %}" method="post" class="form">

            {{ elements.header(page,question) }}

            {% set seq =[
              {"id":"extraHelp", "label":"Severe depression for which you have been hospitalised", "value":"Severe depressions for which you have been hospitalised"},
              {"id":"extraHelp", "label":"Psychosis", "value":"Psychosis"},
              {"id":"extraHelp", "label":"Schizophrenia", "value":"Schizophrenia"},
              {"id":"extraHelp", "label":"Severe ADHD", "value":"Severe ADHD"},
              {"id":"extraHelp", "label":"Downs syndrome", "value":"Downs syndrome"},
              {"id":"extraHelp", "label":"Fragile X syndrome", "value":"Fragile X syndrome"},
              {"id":"extraHelp", "label":"Severe autism", "value":"Severe autism"},
              {"id":"extraHelp", "label":"Severe developmental delay", "value":"Severe developmental delay"},
              {"id":"extraHelp", "label":"Any form of dementia", "value":"Any form of dementia"}

              ] %}

              {{elements.radioSelect('extraHelp',question.question,"",answers.extraHelp,seq) }}


            {% if answers.skipQuestion.length or edit %}
              {{ elements.returnToMenu(page,question) }}
            {% else %}
              {{ elements.submit(page,question,true,true) }}
            {% endif%}


          </form>
        </div>
        {{ elements.helpline(page) }}
    </div>

  </main>

  {% endfor %}
  {% endfor %}
  {% endblock %}
