{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "pip22/macros/elements.html" as elements %}
{% for page in data %}
{% for question in page.additionalInfo %}
<main id="content" role="main" class="pip22">

	<div class="grid-row">
			<div class="column-two-thirds">

				<form action="/pip22/additionalInfo{% if edit %}?edit=true{% endif %}" method="post" class="form">
						{{ elements.header(page,question) }}
						{{ elements.textarea("additionalInfo","",answers.additionalInfo,"","","",3000) }}

						{% if answers.skipQuestion.length or edit %}
							{{ elements.returnToMenu(page,question) }}
						{% else %}
							{{ elements.submit(page,question,true,true) }}
						{% endif%}


        </form>
			</div>
			{{ elements.helpline(page) }}
	</div>

</main>

{% endfor %}
{% endfor %}
{% endblock %}
