{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "pip22/macros/elements.html" as elements %}
{% for page in data %}
{% for question in page.currentWhereabouts %}
<main id="content" role="main" class="pip22">

	<div class="grid-row">
			<div class="column-two-thirds">

				<form action="/pip22/currentWhereabouts{% if edit %}?edit=true{% endif %}" method="post" class="form form-group-frequency">
					{{ elements.header(page,question) }}

					{% set seq = [
						{"id":"location1", "label":"Hospital", "value":"hospital",
						"target"             : "hospitalAddress",
						"whereAndWhen"       : true,
						"whereWhenId":"hospitalWhen", "whereWhenLabel":question.whereWhenStart,"whereWhenAnswer":answers.hospitalWhen,
						"whereWhenId2":"hospitalWhere1", "whereWhenLabel2":question.whereWhenAddress,"whereWhenAnswer2":answers.hospitalWhere1,
						"whereWhenId3": "hospitalWhere2", "whereWhenAnswer3":answers.hospitalWhere2,
						"whereWhenId4": "hospitalWhere3", "whereWhenAnswer4":answers.hospitalWhere3,
						"whereWhenId5":"hospitalWhere4", "whereWhenLabel5":question.whereWhenPostcode,"whereWhenAnswer5":answers.hospitalWhere4},

						{"id":"location2", "label":"A care or nursing home", "value":"a care or nursing home",
						"target"             : "careHomeAddress",
						"whereAndWhen"       : true,
						"whereWhenId":"careHomeWhen", "whereWhenLabel":question.whereWhenStart,"whereWhenAnswer":answers.careHomeWhen,
						"whereWhenId2":"careHomeWhere1", "whereWhenLabel2":question.whereWhenAddress,"whereWhenAnswer2":answers.careHomeWhere1,
						"whereWhenId3": "careHomeWhere2", "whereWhenAnswer3":answers.careHomeWhere2,
						"whereWhenId4": "careHomeWhere3", "whereWhenAnswer4":answers.careHomeWhere3,
						"whereWhenId5":"careHomeWhere4", "whereWhenLabel5":question.whereWhenPostcode,"whereWhenAnswer5":answers.careHomeWhere4},

						{"id":"location3", "label":"Sheltered housing", "value":"sheltered housing",
						"target"             : "shelteredAddress",
						"whereAndWhen"       : true,
						"whereWhenId":"shelteredWhen", "whereWhenLabel":question.whereWhenStart,"whereWhenAnswer":answers.shelteredWhen,
						"whereWhenId2":"shelteredWhere1", "whereWhenLabel2":question.whereWhenAddress,"whereWhenAnswer2":answers.shelteredWhere1,
						"whereWhenId3": "shelteredWhere2", "whereWhenAnswer3":answers.shelteredWhere2,
						"whereWhenId4": "shelteredWhere3", "whereWhenAnswer4":answers.shelteredWhere3,
						"whereWhenId5":"shelteredWhere4", "whereWhenLabel5":question.whereWhenPostcode,"whereWhenAnswer5":answers.shelteredWhere4},

						{"id":"location4", "label":"A residential college", "value":"a residential college",
						"target"             : "collegeAddress",
						"whereAndWhen"       : true,
						"whereWhenId":"collegeWhen", "whereWhenLabel":question.whereWhenStart,"whereWhenAnswer":answers.collegeWhen,
						"whereWhenId2":"collegeWhere1", "whereWhenLabel2":question.whereWhenAddress,"whereWhenAnswer2":answers.collegeWhere1,
						"whereWhenId3": "collegeWhere2", "whereWhenAnswer3":answers.collegeWhere2,
						"whereWhenId4": "collegeWhere3", "whereWhenAnswer4":answers.collegeWhere3,
						"whereWhenId5":"collegeWhere4", "whereWhenLabel5":question.whereWhenPostcode,"whereWhenAnswer5":answers.collegeWhere4},

						{"id":"location5", "label":"A hostel", "value":"a hostel",
						"target"             : "hostelAddress",
						"whereAndWhen"       : true,
						"whereWhenId":"hostelWhen", "whereWhenLabel":question.whereWhenStart,"whereWhenAnswer":answers.hostelWhen,
						"whereWhenId2":"hostelWhere1", "whereWhenLabel2":question.whereWhenAddress,"whereWhenAnswer2":answers.hostelWhere1,
						"whereWhenId3": "hostelWhere2", "whereWhenAnswer3":answers.hostelWhere2,
						"whereWhenId4": "hostelWhere3", "whereWhenAnswer4":answers.hostelWhere3,
						"whereWhenId5":"hostelWhere4", "whereWhenLabel5":question.whereWhenPostcode,"whereWhenAnswer5":answers.hostelWhere4},

						{"id":"location6", "label":"A hospice", "value":"a hospice",
						"target"             : "hospiceAddress",
						"whereAndWhen"       : true,
						"whereWhenId":"hospiceWhen", "whereWhenLabel":question.whereWhenStart,"whereWhenAnswer":answers.hospiceWhen,
						"whereWhenId2":"hospiceWhere1", "whereWhenLabel2":question.whereWhenAddress,"whereWhenAnswer2":answers.hospiceWhere1,
						"whereWhenId3": "hospiceWhere2", "whereWhenAnswer3":answers.hospiceWhere2,
						"whereWhenId4": "hospiceWhere3", "whereWhenAnswer4":answers.hospiceWhere3,
						"whereWhenId5":"hospiceWhere4", "whereWhenLabel5":question.whereWhenPostcode,"whereWhenAnswer5":answers.hospiceWhere4},

						{"id":"location7", "label":"You're <span class='bold-small'>not</span> staying in any of these", "value":"You are not currently staying in any of these", "hidePanel":"details"}
					] %}
					{{ elements.checkbox('optionsLiving',"radio",question.question,'',seq,answers,answers.optionsLiving,"check-uncheck") }}


					{% if answers.skipQuestion.length or edit %}
						{{ elements.returnToMenu(page,question) }}
					{% else %}
						{{ elements.submit(page,question,true,true) }}
					{% endif%}

        </form>
			</div>
			{{ elements.helpline(page) }}
	</div>

</main>

{% endfor %}
{% endfor %}
{% endblock %}
