{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "pip22/macros/elements.html" as elements %}

<main id="content" role="main" class="pip22">

	<div class="grid-row">
			<div class="column-two-thirds">

				<form action="#" method="post" class="form form-login">
					<header>
					  <h1 class="form-title heading-xlarge">Saving your application</h1>
					</header>
					<p class="lede">Many questions in this application ask for detailed answers which may take time to fill in. You can leave the application at any point and go back to it when you want, without losing any of your information.</p>

					{{ elements.genericInput('username',"Choose username","","You'll need this to sign in again so make it memorable, like your email address. Make it at least 8 characters long.") }}
					{{ elements.genericInput('password',"Choose password","","Your password must be at least 8 characters long","",type='password') }}
					{{ elements.genericInput('password2',"Confirm password","","","",type='password') }}

					<div class="form-group">
		        <a class="button " href="appointee" >Save</a>
					</div>


        </form>
			</div>
			{{ elements.helpline(page) }}
	</div>

</main>

{% endblock %}
