@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.grid-row:after, #content:after, .notice:after, .panel:after, fieldset:after, .form-group:after, .form-block:after, .breadcrumbs ol:after, .panel-indent:after {
  content: "";
  display: block;
  clear: both;
}

#content {
  max-width: 960px;
  margin: 0 15px;
}

@media (min-width: 641px) {
  #content {
    margin: 0 30px;
  }
}

@media (min-width: 1020px) {
  #content {
    margin: 0 auto;
  }
}

.grid-row {
  margin: 0 -15px;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.grid-row:after, #content:after, .notice:after, .panel:after, fieldset:after, .form-group:after, .form-block:after, .breadcrumbs ol:after, .panel-indent:after {
  content: "";
  display: block;
  clear: both;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.grid-row:after, #content:after, .notice:after, .panel:after, fieldset:after, .form-group:after, .form-block:after, .breadcrumbs ol:after, .panel-indent:after {
  content: "";
  display: block;
  clear: both;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.grid-row:after, #content:after, .notice:after, .panel:after, fieldset:after, .form-group:after, .form-block:after, .breadcrumbs ol:after, .panel-indent:after {
  content: "";
  display: block;
  clear: both;
}

#content {
  max-width: 960px;
  margin: 0 15px;
}

@media (min-width: 641px) {
  #content {
    margin: 0 30px;
  }
}

@media (min-width: 1020px) {
  #content {
    margin: 0 auto;
  }
}

.grid-row {
  margin: 0 -15px;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.grid-row:after, #content:after, .notice:after, .panel:after, fieldset:after, .form-group:after, .form-block:after, .breadcrumbs ol:after, .panel-indent:after {
  content: "";
  display: block;
  clear: both;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.grid-row:after, #content:after, .notice:after, .panel:after, fieldset:after, .form-group:after, .form-block:after, .breadcrumbs ol:after, .panel-indent:after {
  content: "";
  display: block;
  clear: both;
}

.example-highlight-grid .grid-row {
  background: #bfc1c3;
}

.example-highlight-grid .column-highlight {
  background: #dee0e2;
  width: 100%;
}

.hidden {
  display: none;
  visibility: hidden;
}

.visually-hidden,
.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.js-enabled .js-hidden {
  display: none;
}

/* Borrowed from http://meyerweb.com/eric/tools/css/reset/ */
div, span,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark {
  border: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
  font-weight: normal;
}

#content {
  padding-bottom: 30px;
}

@media (min-width: 769px) {
  #content {
    padding-bottom: 90px;
  }
}

.column-quarter,
.column-one-quarter {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 641px) {
  .column-quarter,
  .column-one-quarter {
    float: left;
    width: 25%;
  }
}

.column-half,
.column-one-half {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 641px) {
  .column-half,
  .column-one-half {
    float: left;
    width: 50%;
  }
}

.column-third,
.column-one-third {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 641px) {
  .column-third,
  .column-one-third {
    float: left;
    width: 33.3333333333%;
  }
}

.column-two-thirds {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 641px) {
  .column-two-thirds {
    float: left;
    width: 66.6666666667%;
  }
}

main {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

@media (min-width: 641px) {
  main {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.font-xxlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 53px;
  line-height: 1.0377358491;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .font-xxlarge {
    font-size: 80px;
    line-height: 1;
  }
}

.font-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 32px;
  line-height: 1.09375;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .font-xlarge {
    font-size: 48px;
    line-height: 1.0416666667;
  }
}

.font-large {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.0416666667;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .font-large {
    font-size: 36px;
    line-height: 1.1111111111;
  }
}

.font-medium {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .font-medium {
    font-size: 24px;
    line-height: 1.25;
  }
}

.font-small {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .font-small {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.font-xsmall {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .font-xsmall {
    font-size: 16px;
    line-height: 1.25;
  }
}

.bold-xxlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 53px;
  line-height: 1.0377358491;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .bold-xxlarge {
    font-size: 80px;
    line-height: 1;
  }
}

.bold-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 32px;
  line-height: 1.09375;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .bold-xlarge {
    font-size: 48px;
    line-height: 1.0416666667;
  }
}

.bold-large {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.0416666667;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .bold-large {
    font-size: 36px;
    line-height: 1.1111111111;
  }
}

.bold-medium {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .bold-medium {
    font-size: 24px;
    line-height: 1.25;
  }
}

.bold-small {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .bold-small {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.bold-xsmall {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .bold-xsmall {
    font-size: 16px;
    line-height: 1.25;
  }
}

.heading-xlarge {
  font-family: "nta", Arial, sans-serif;
  font-size: 32px;
  line-height: 1.09375;
  font-weight: 700;
  text-transform: none;
  margin-top: 0.46875em;
  margin-bottom: 0.9375em;
}

@media (min-width: 641px) {
  .heading-xlarge {
    font-size: 48px;
    line-height: 1.0416666667;
  }
}

@media (min-width: 641px) {
  .heading-xlarge {
    margin-top: 0.625em;
    margin-bottom: 1.25em;
  }
}

.heading-xlarge .heading-secondary {
  font-family: "nta", Arial, sans-serif;
  font-size: 20px;
  line-height: 1.1111111111;
  font-weight: 400;
  text-transform: none;
  padding-top: 8px;
  padding-bottom: 7px;
  display: block;
  color: #6f777b;
}

@media (min-width: 641px) {
  .heading-xlarge .heading-secondary {
    font-size: 27px;
    line-height: 1.1111111111;
  }
}

@media (min-width: 641px) {
  .heading-xlarge .heading-secondary {
    padding-top: 4px;
    padding-bottom: 6px;
  }
}

.heading-large {
  font-family: "nta", Arial, sans-serif;
  font-size: 24px;
  line-height: 1.0416666667;
  font-weight: 700;
  text-transform: none;
  margin-top: 1.0416666667em;
  margin-bottom: 0.4166666667em;
}

@media (min-width: 641px) {
  .heading-large {
    font-size: 36px;
    line-height: 1.1111111111;
  }
}

@media (min-width: 641px) {
  .heading-large {
    margin-top: 1.25em;
    margin-bottom: 0.5555555556em;
  }
}

.heading-large .heading-secondary {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
  padding-top: 9px;
  padding-bottom: 6px;
  display: block;
  color: #6f777b;
}

@media (min-width: 641px) {
  .heading-large .heading-secondary {
    font-size: 24px;
    line-height: 1.25;
  }
}

@media (min-width: 641px) {
  .heading-large .heading-secondary {
    padding-top: 6px;
    padding-bottom: 4px;
  }
}

.heading-medium {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
  margin-top: 1.25em;
  margin-bottom: 0.5em;
}

@media (min-width: 641px) {
  .heading-medium {
    font-size: 24px;
    line-height: 1.25;
  }
}

@media (min-width: 641px) {
  .heading-medium {
    margin-top: 1.875em;
    margin-bottom: 0.8333333333em;
  }
}

.heading-small {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
  margin-top: 0.625em;
  margin-bottom: 0.3125em;
}

@media (min-width: 641px) {
  .heading-small {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

@media (min-width: 641px) {
  .heading-small {
    margin-top: 1.0526315789em;
  }
}

p {
  margin-top: 0.3125em;
  margin-bottom: 1.25em;
}

@media (min-width: 641px) {
  p {
    margin-top: 0.2631578947em;
    margin-bottom: 1.0526315789em;
  }
}

.lede {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .lede {
    font-size: 24px;
    line-height: 1.25;
  }
}

.text {
  max-width: 30em;
}

.text-secondary {
  color: #6f777b;
}

.link {
  color: #005ea5;
  text-decoration: underline;
}

.link:visited {
  color: #4c2c92;
}

.link:hover {
  color: #2b8cc4;
}

.link:active {
  color: #005ea5;
}

.link-back {
  display: -moz-inline-stack;
  display: inline-block;
  position: relative;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 14px;
  color: #0b0c0c;
  text-decoration: none;
  border-bottom: 1px solid #0b0c0c;
}

@media (min-width: 641px) {
  .link-back {
    font-size: 16px;
    line-height: 1.25;
  }
}

.link-back:link, .link-back:visited, .link-back:hover, .link-back:active {
  color: #0b0c0c;
}

.link-back::before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 6px solid #0b0c0c;
  border-bottom: 5px solid transparent;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -6px;
}

.code {
  color: black;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  color: #0b0c0c;
  background-color: #f8f8f8;
  border: 1px solid #bfc1c3;
  padding: 4px 4px 2px 4px;
}

hr {
  display: block;
  background: #bfc1c3;
  border: 0;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0;
}

.notice {
  position: relative;
}

.notice .icon {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -17px;
}

.notice strong {
  display: block;
  padding-left: 65px;
  margin-left: -15px;
}

.button {
  background-color: #00823b;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.3em 0.6em 0.2em 0.6em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #003618;
  -moz-box-shadow: 0 2px 0 #003618;
  box-shadow: 0 2px 0 #003618;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.5263157895em 0.7894736842em 0.2631578947em 0.7894736842em;
  vertical-align: top;
}

.button:visited {
  background-color: #00823b;
}

.button:hover, .button:focus {
  background-color: #00692f;
}

.button:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #00823b;
  -moz-box-shadow: 0 0 0 #00823b;
  box-shadow: 0 0 0 #00823b;
}

.button.disabled, .button[disabled="disabled"], .button[disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.button.disabled:hover, .button[disabled="disabled"]:hover, .button[disabled]:hover {
  cursor: default;
  background-color: #00823b;
}

.button.disabled:active, .button[disabled="disabled"]:active, .button[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #003618;
  -moz-box-shadow: 0 2px 0 #003618;
  box-shadow: 0 2px 0 #003618;
}

.button:link, .button:hover, .button:focus, .button:visited {
  color: #fff;
}

.button:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.button:active:before {
  top: -10%;
  height: 120%;
}

.button[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 640px) {
  .button {
    width: 100%;
  }
}

.button::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.button:focus {
  outline: 3px solid #ffbf47;
}

.button[disabled="disabled"] {
  background: #00823b;
}

.button[disabled="disabled"]:focus {
  outline: none;
}

.button-start,
.button-get-started {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
  background-image: url("/public/images/icons/icon-pointer.png");
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding: 0.3684210526em 2.1578947368em 0.2105263158em 0.8421052632em;
}

@media (min-width: 641px) {
  .button-start,
  .button-get-started {
    font-size: 24px;
    line-height: 1.25;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .button-start,
  .button-get-started {
    background-image: url("/public/images/icons/icon-pointer-2x.png");
    background-size: 30px 19px;
  }
}

.icon {
  display: inline-block;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.icon-calendar {
  width: 27px;
  height: 27px;
  background-image: url("/public/images/icons/icon-calendar.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-calendar {
    background-image: url("/public/images/icons/icon-calendar-2x.png");
    background-size: 100%;
  }
}

.icon-file-download {
  width: 30px;
  height: 39px;
  background-image: url("/public/images/icons/icon-file-download.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-file-download {
    background-image: url("/public/images/icons/icon-file-download-2x.png");
    background-size: 100%;
  }
}

.icon-important {
  width: 35px;
  height: 35px;
  background-image: url("/public/images/icons/icon-important.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-important {
    background-image: url("/public/images/icons/icon-important-2x.png");
    background-size: 100%;
  }
}

.icon-information {
  width: 27px;
  height: 27px;
  background-image: url("/public/images/icons/icon-information.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-information {
    background-image: url("/public/images/icons/icon-information-2x.png");
    background-size: 100%;
  }
}

.icon-locator {
  width: 26px;
  height: 36px;
  background-image: url("/public/images/icons/icon-locator.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-locator {
    background-image: url("/public/images/icons/icon-locator-2x.png");
    background-size: 100%;
  }
}

.icon-pointer {
  width: 30px;
  height: 19px;
  background-image: url("/public/images/icons/icon-pointer.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-pointer {
    background-image: url("/public/images/icons/icon-pointer-2x.png");
    background-size: 100%;
  }
}

.icon-pointer-black {
  width: 23px;
  height: 23px;
  background-image: url("/public/images/icons/icon-pointer-black.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-pointer-black {
    background-image: url("/public/images/icons/icon-pointer-black-2x.png");
    background-size: 100%;
  }
}

.icon-search {
  width: 30px;
  height: 22px;
  background-image: url("/public/images/icons/icon-search.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-search {
    background-image: url("/public/images/icons/icon-search-2x.png");
    background-size: 100%;
  }
}

.icon-step-1 {
  width: 23px;
  height: 23px;
  background-image: url("/public/images/icons/icon-steps/icon-step-1.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-1 {
    background-image: url("/public/images/icons/icon-steps/icon-step-1-2x.png");
    background-size: 100%;
  }
}

.icon-step-2 {
  width: 23px;
  height: 23px;
  background-image: url("/public/images/icons/icon-steps/icon-step-2.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-2 {
    background-image: url("/public/images/icons/icon-steps/icon-step-2-2x.png");
    background-size: 100%;
  }
}

.icon-step-3 {
  width: 23px;
  height: 23px;
  background-image: url("/public/images/icons/icon-steps/icon-step-3.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-3 {
    background-image: url("/public/images/icons/icon-steps/icon-step-3-2x.png");
    background-size: 100%;
  }
}

.icon-step-4 {
  width: 23px;
  height: 23px;
  background-image: url("/public/images/icons/icon-steps/icon-step-4.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-4 {
    background-image: url("/public/images/icons/icon-steps/icon-step-4-2x.png");
    background-size: 100%;
  }
}

.icon-step-5 {
  width: 23px;
  height: 23px;
  background-image: url("/public/images/icons/icon-steps/icon-step-5.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-5 {
    background-image: url("/public/images/icons/icon-steps/icon-step-5-2x.png");
    background-size: 100%;
  }
}

.icon-step-6 {
  width: 23px;
  height: 23px;
  background-image: url("/public/images/icons/icon-steps/icon-step-6.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-6 {
    background-image: url("/public/images/icons/icon-steps/icon-step-6-2x.png");
    background-size: 100%;
  }
}

.icon-step-7 {
  width: 23px;
  height: 23px;
  background-image: url("/public/images/icons/icon-steps/icon-step-7.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-7 {
    background-image: url("/public/images/icons/icon-steps/icon-step-7-2x.png");
    background-size: 100%;
  }
}

.icon-step-8 {
  width: 23px;
  height: 23px;
  background-image: url("/public/images/icons/icon-steps/icon-step-8.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-8 {
    background-image: url("/public/images/icons/icon-steps/icon-step-8-2x.png");
    background-size: 100%;
  }
}

.icon-step-9 {
  width: 23px;
  height: 23px;
  background-image: url("/public/images/icons/icon-steps/icon-step-9.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-9 {
    background-image: url("/public/images/icons/icon-steps/icon-step-9-2x.png");
    background-size: 100%;
  }
}

.icon-step-10 {
  width: 23px;
  height: 23px;
  background-image: url("/public/images/icons/icon-steps/icon-step-10.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-10 {
    background-image: url("/public/images/icons/icon-steps/icon-step-10-2x.png");
    background-size: 100%;
  }
}

.icon-step-11 {
  width: 23px;
  height: 23px;
  background-image: url("/public/images/icons/icon-steps/icon-step-11.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-11 {
    background-image: url("/public/images/icons/icon-steps/icon-step-11-2x.png");
    background-size: 100%;
  }
}

.icon-step-12 {
  width: 23px;
  height: 23px;
  background-image: url("/public/images/icons/icon-steps/icon-step-12.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-12 {
    background-image: url("/public/images/icons/icon-steps/icon-step-12-2x.png");
    background-size: 100%;
  }
}

.icon-step-13 {
  width: 23px;
  height: 23px;
  background-image: url("/public/images/icons/icon-steps/icon-step-13.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-13 {
    background-image: url("/public/images/icons/icon-steps/icon-step-13-2x.png");
    background-size: 100%;
  }
}

.icon-step-14 {
  width: 23px;
  height: 23px;
  background-image: url("/public/images/icons/icon-steps/icon-step-14.png");
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .icon-step-14 {
    background-image: url("/public/images/icons/icon-steps/icon-step-14-2x.png");
    background-size: 100%;
  }
}

.circle {
  display: inline-block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: #0b0c0c;
  color: #fff;
  font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

.circle-step {
  min-width: 24px;
  min-height: 24px;
  line-height: 24px;
}

.circle-step-large {
  font-size: 19px;
  min-width: 38px;
  min-height: 38px;
  line-height: 38px;
}

ul,
ol {
  list-style-type: none;
}

.list {
  padding: 0;
  margin-top: 5px;
  margin-bottom: 20px;
}

.list li {
  margin-bottom: 5px;
}

.list-bullet {
  list-style-type: disc;
  padding-left: 20px;
}

.list-number {
  list-style-type: decimal;
  padding-left: 20px;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table th,
table td {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
  padding: 0.75em 1.25em 0.5625em 0;
  text-align: left;
  color: #0b0c0c;
  border-bottom: 1px solid #bfc1c3;
}

@media (min-width: 641px) {
  table th,
  table td {
    font-size: 16px;
    line-height: 1.25;
  }
}

table th {
  font-weight: 700;
}

table th.numeric {
  text-align: right;
}

table td.numeric {
  font-family: "ntatabularnumbers", "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
  text-align: right;
}

@media (min-width: 641px) {
  table td.numeric {
    font-size: 16px;
    line-height: 1.25;
  }
}

details {
  display: block;
}

details summary {
  display: inline-block;
  color: #005ea5;
  cursor: pointer;
  position: relative;
  margin-bottom: 0.2631578947em;
}

details summary:hover {
  color: #2b8cc4;
}

details summary:focus {
  outline: 3px solid #ffbf47;
}

details .summary {
  text-decoration: underline;
}

details .arrow {
  margin-right: .35em;
  font-style: normal;
}

.panel {
  clear: both;
  border-left-style: solid;
  border-color: #bfc1c3;
  padding: 0.7894736842em;
  margin-bottom: 0.7894736842em;
}

.panel :first-child {
  margin-top: 0;
}

.panel :only-child,
.panel :last-child {
  margin-bottom: 0;
}

.panel-border-wide {
  border-left-width: 10px;
}

.panel-border-narrow {
  border-left-width: 5px;
}

.form-group .panel-border-narrow {
  padding-bottom: 0;
}

fieldset {
  width: 100%;
}

textarea {
  display: block;
}

.form-group {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

@media (min-width: 641px) {
  .form-group {
    margin-bottom: 30px;
  }
}

.form-group-related {
  margin-bottom: 10px;
}

@media (min-width: 641px) {
  .form-group-related {
    margin-bottom: 20px;
  }
}

.form-group-compound {
  margin-bottom: 10px;
}

.form-label,
.form-label-bold {
  display: block;
  color: #0b0c0c;
}

.form-label {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .form-label {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.form-label-bold {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;
  text-transform: none;
}

@media (min-width: 641px) {
  .form-label-bold {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

legend .form-label,
legend .form-label-bold {
  padding-bottom: 7px;
}

.error legend .form-label,
.error legend .form-label-bold {
  padding-bottom: 0;
}

.form-block {
  float: left;
  width: 100%;
  margin-top: -5px;
  margin-bottom: 5px;
}

@media (min-width: 641px) {
  .form-block {
    margin-top: 0;
    margin-bottom: 10px;
  }
}

.form-hint {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  display: block;
  color: #6f777b;
  font-weight: normal;
  margin-bottom: 5px;
}

@media (min-width: 641px) {
  .form-hint {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.form-control {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  width: 100%;
  padding: 4px;
  background-color: #fff;
  border: 2px solid #6f777b;
}

@media (min-width: 641px) {
  .form-control {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

@media (min-width: 641px) {
  .form-control {
    width: 50%;
  }
}

.form-radio {
  display: block;
  margin: 10px 0;
}

.form-radio input {
  vertical-align: middle;
  margin: -4px 5px 0 0;
}

.form-checkbox {
  display: block;
  margin: 15px 0;
}

.form-checkbox input {
  vertical-align: middle;
  margin: -2px 5px 0 0;
}

.form-control-3-4 {
  width: 100%;
}

@media (min-width: 641px) {
  .form-control-3-4 {
    width: 75%;
  }
}

.form-control-2-3 {
  width: 100%;
}

@media (min-width: 641px) {
  .form-control-2-3 {
    width: 66.66%;
  }
}

.form-control-1-2 {
  width: 100%;
}

@media (min-width: 641px) {
  .form-control-1-2 {
    width: 50%;
  }
}

.form-control-1-3 {
  width: 100%;
}

@media (min-width: 641px) {
  .form-control-1-3 {
    width: 33.33%;
  }
}

.form-control-1-4 {
  width: 100%;
}

@media (min-width: 641px) {
  .form-control-1-4 {
    width: 25%;
  }
}

.form-control-1-8 {
  width: 100%;
}

@media (min-width: 641px) {
  .form-control-1-8 {
    width: 12.5%;
  }
}

.block-label {
  display: block;
  float: none;
  clear: left;
  position: relative;
  background: #dee0e2;
  border: 1px solid #dee0e2;
  padding: 18px 30px 15px 54px;
  margin-bottom: 10px;
  cursor: pointer;
}

@media (min-width: 641px) {
  .block-label {
    float: left;
  }
}

.block-label input {
  position: absolute;
  top: 15px;
  left: 15px;
  cursor: pointer;
  margin: 0;
  width: 29px;
  height: 29px;
}

.block-label:hover {
  border-color: #0b0c0c;
}

.block-label:last-child {
  margin-bottom: 0;
}

.inline .block-label {
  clear: none;
  margin-right: 10px;
}

.js-enabled label.selected {
  background: #fff;
  border-color: #0b0c0c;
}

.js-enabled label.focused {
  outline: 3px solid #ffbf47;
}

.js-enabled .focused input:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.form-date .form-group {
  float: left;
  width: 50px;
  margin-right: 20px;
  margin-bottom: 0;
  clear: none;
}

.form-date .form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-date .form-group input {
  width: 100%;
}

.form-date .form-group-year {
  width: 70px;
}

.error {
  margin-right: 15px;
}

.error .error-message {
  color: #b10e1e;
  font-weight: bold;
}

.error .form-control {
  border: 4px solid #b10e1e;
}

.error .form-hint {
  margin-bottom: 0;
}

.error,
.error-summary {
  border-left: 4px solid #b10e1e;
  padding-left: 10px;
}

@media (min-width: 641px) {
  .error,
  .error-summary {
    border-left: 5px solid #b10e1e;
    padding-left: 15px;
  }
}

.error-message {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  display: block;
  clear: both;
  margin: 0;
  padding: 5px 0 7px 0;
}

@media (min-width: 641px) {
  .error-message {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.error-summary {
  border: 4px solid #b10e1e;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 10px;
}

@media (min-width: 641px) {
  .error-summary {
    border: 5px solid #b10e1e;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px 15px 15px 15px;
  }
}

.error-summary:focus {
  outline: 3px solid #ffbf47;
}

.error-summary .error-summary-heading {
  margin-top: 0;
}

.error-summary p {
  margin-bottom: 10px;
}

.error-summary .error-summary-list {
  padding-left: 0;
}

@media (min-width: 641px) {
  .error-summary .error-summary-list li {
    margin-bottom: 5px;
  }
}

.error-summary .error-summary-list a {
  color: #b10e1e;
  font-weight: bold;
  text-decoration: underline;
}

.breadcrumbs {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}

.breadcrumbs li {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
  float: left;
  background-image: url("/public/images/separator.png");
  background-position: 0% 50%;
  background-repeat: no-repeat;
  list-style: none;
  margin-left: 0.6em;
  margin-bottom: 0.4em;
  padding-left: 0.9em;
}

@media (min-width: 641px) {
  .breadcrumbs li {
    font-size: 16px;
    line-height: 1.25;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 20 / 10), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .breadcrumbs li {
    background-image: url("/public/images/separator-2x.png");
    background-size: 6px 11px;
  }
}

.breadcrumbs li:first-child {
  background-image: none;
  margin-left: 0;
  padding-left: 0;
}

.breadcrumbs a {
  color: #0b0c0c;
}

.phase-banner-alpha {
  padding: 10px 0 8px 0;
  border-bottom: 1px solid #bfc1c3;
}

@media (min-width: 641px) {
  .phase-banner-alpha {
    padding-bottom: 10px;
  }
}

.phase-banner-alpha p {
  margin: 0;
  color: #000;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .phase-banner-alpha p {
    font-size: 16px;
    line-height: 1.25;
  }
}

.phase-banner-alpha .phase-tag {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 0 8px 0 0;
  padding: 2px 5px 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 700;
  text-transform: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: #d53880;
}

@media (min-width: 641px) {
  .phase-banner-alpha .phase-tag {
    vertical-align: baseline;
  }
}

@media (min-width: 641px) {
  .phase-banner-alpha .phase-tag {
    font-size: 16px;
    line-height: 1.25;
  }
}

.phase-banner-alpha span {
  vertical-align: top;
}

@media (min-width: 641px) {
  .phase-banner-alpha span {
    vertical-align: baseline;
  }
}

.phase-banner-beta {
  padding: 10px 0 8px 0;
  border-bottom: 1px solid #bfc1c3;
}

@media (min-width: 641px) {
  .phase-banner-beta {
    padding-bottom: 10px;
  }
}

.phase-banner-beta p {
  margin: 0;
  color: #000;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .phase-banner-beta p {
    font-size: 16px;
    line-height: 1.25;
  }
}

.phase-banner-beta .phase-tag {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  margin: 0 8px 0 0;
  padding: 2px 5px 0;
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 700;
  text-transform: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  color: #fff;
  background-color: #f47738;
}

@media (min-width: 641px) {
  .phase-banner-beta .phase-tag {
    vertical-align: baseline;
  }
}

@media (min-width: 641px) {
  .phase-banner-beta .phase-tag {
    font-size: 16px;
    line-height: 1.25;
  }
}

.phase-banner-beta span {
  vertical-align: top;
}

@media (min-width: 641px) {
  .phase-banner-beta span {
    vertical-align: baseline;
  }
}

.govuk-box-highlight {
  margin: 1em 0 1em 0;
  padding: 2em 0 1em 0;
  color: #fff;
  background: #28a197;
  text-align: center;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.grid-row:after, #content:after, .notice:after, .panel:after, fieldset:after, .form-group:after, .form-block:after, .breadcrumbs ol:after, .panel-indent:after {
  content: "";
  display: block;
  clear: both;
}

@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"), local("Helvetica Neue"), local("Arial"), local("Helvetica");
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

.check-your-answers td {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  vertical-align: top;
}

@media (min-width: 641px) {
  .check-your-answers td {
    font-size: 19px;
    line-height: 1.3157894737;
  }
}

.check-your-answers .change-answer {
  text-align: right;
  font-weight: bold;
  padding-right: 0;
}

.unbranded {
  background: #fff;
}

.unbranded * {
  font-family: Arial !important;
}

.unbranded #footer {
  border: 0;
  background: #fff;
}

.related-links {
  margin-top: 30px;
  border-top: 10px solid #005ea5;
  padding-top: 5px;
}

.related-links .heading-medium {
  margin-top: 0.3em;
  margin-bottom: 0.5em;
}

.related-links li {
  margin-bottom: 10px;
}

/**************
V1
****************/
.exit-link {
  background-color: #fff;
  border: 0px;
  color: #005ea5;
  cursor: pointer;
  margin: 10px 0 0;
  padding: 0px;
  text-decoration: underline;
}

/* pagination solen from GOV UK */
.pagination {
  display: block;
  margin: 4em 0 0 0;
  border-bottom: 1px solid #bfc1c3;
}

@media (max-width: 640px) {
  .pagination {
    margin: 2em 0 0 0;
  }
}

.pagination ul {
  margin: 0;
  padding: 0;
}

.pagination li {
  font-family: "nta", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  float: left;
  list-style: none;
  text-align: right;
  margin: 0;
  padding: 0;
  width: 49%;
}

@media (max-width: 640px) {
  .pagination li {
    font-size: 14px;
    line-height: 1.14286;
  }
}

.pagination li a {
  background-color: transparent;
  display: block;
  color: #005ea5;
  text-decoration: none;
}

.pagination li a:hover, .pagination li a:active {
  background-color: #f8f8f8;
}

.pagination li a .pagination-label {
  font-family: "nta", Arial, sans-serif;
  font-size: 27px;
  line-height: 1.25;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 0.1em;
  display: block;
}

@media (max-width: 640px) {
  .pagination li a .pagination-label {
    font-size: 20px;
    line-height: 1.11111;
  }
}

.pagination li a .pagination-part-title {
  text-decoration: underline;
}

.pagination li.next {
  float: right;
  text-align: right;
}

.pagination li.next a:before {
  background: transparent url(/public/images/icons/arrow-sprite.png) no-repeat -102px -11px;
  margin: -4px -32px 0 0;
  display: block;
  float: right;
  width: 30px;
  height: 38px;
  content: " ";
}

.pagination li.previous a:before {
  background: transparent url(/public/images/icons/arrow-sprite.png) no-repeat -20px -11px;
  margin: -4px 0 0 -32px;
  display: block;
  float: left;
  width: 30px;
  height: 38px;
  content: " ";
}

.pagination li.previous {
  float: left;
  text-align: left;
}

.pagination li.previous a {
  padding: 0.75em 0 0.75em 3em;
}

.pagination li.next a {
  padding: 0.75em 3em 0.75em 0;
}

@media (max-width: 640px) {
  .pagination li.previous, .pagination li.next {
    float: left;
    width: 50%;
  }
  .pagination li.next a {
    text-align: right;
  }
}

.pagination .first, .pagination .last {
  min-height: 4.5em;
}

.pagination .first span, .pagination .last span {
  display: block;
  min-height: 4.5em;
  padding: 0.75em 5%;
  width: 90%;
}

.pagination .first .pagination-label, .pagination .last .pagination-label {
  display: block;
  margin-bottom: 0.5em;
}

.list-bullet.list-none {
  list-style-type: none;
  margin-left: 0;
}

a.button-get-started {
  background-image: url("/public/images/icons/icon-pointer.png");
}

.mvp-inline p {
  line-height: 2.5em;
  font-weight: bold;
}

.mvp-inline input {
  line-height: 1em;
}

.mvp-inline textarea {
  line-height: 1em;
}

label + input {
  margin-top: 10px;
}

label + textarea {
  margin-top: 10px;
}

.form-control-small {
  width: 30px;
}

/**************
Redesign
****************/
strong {
  font-weight: bold;
}

#submit-group {
  margin-top: 20px;
}

.form-title {
  margin-bottom: 8px;
}

.form-block {
  margin: 10px 0 20px;
}

[class*="heading-"] .section-progress {
  font-family: "nta", Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: none;
  color: #6f777b;
  display: block;
}

@media (min-width: 641px) {
  [class*="heading-"] .section-progress {
    font-size: 24px;
    line-height: 1.25;
  }
}

.inline > .form-group {
  margin-bottom: 0px;
}

.panel-indent {
  margin-top: 10px;
}

.panel-indent .form-hint {
  font-family: "nta", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.1428571429;
  font-weight: 400;
  text-transform: none;
}

@media (min-width: 641px) {
  .panel-indent .form-hint {
    font-size: 16px;
    line-height: 1.25;
  }
}

.border-bottom {
  border-bottom: 1px solid #bfc1c3;
}

.secondary-button {
  background-color: #dee0e2;
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  padding: 0.3em 0.6em 0.2em 0.6em;
  border: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
  font-size: 1em;
  line-height: 1.25;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  color: #0b0c0c;
  box-shadow: 0 2px 0 #6f777b;
  padding: 0.4em 0.7em 0.1em 0.7em;
}

.secondary-button:visited {
  background-color: #dee0e2;
}

.secondary-button:hover, .secondary-button:focus {
  background-color: #d0d3d6;
}

.secondary-button:active {
  top: 2px;
  -webkit-box-shadow: 0 0 0 #dee0e2;
  -moz-box-shadow: 0 0 0 #dee0e2;
  box-shadow: 0 0 0 #dee0e2;
}

.secondary-button.disabled, .secondary-button[disabled="disabled"], .secondary-button[disabled] {
  zoom: 1;
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.secondary-button.disabled:hover, .secondary-button[disabled="disabled"]:hover, .secondary-button[disabled]:hover {
  cursor: default;
  background-color: #dee0e2;
}

.secondary-button.disabled:active, .secondary-button[disabled="disabled"]:active, .secondary-button[disabled]:active {
  top: 0;
  -webkit-box-shadow: 0 2px 0 #b5babe;
  -moz-box-shadow: 0 2px 0 #b5babe;
  box-shadow: 0 2px 0 #b5babe;
}

.secondary-button:link, .secondary-button:hover, .secondary-button:focus, .secondary-button:visited {
  color: #0b0c0c;
}

.secondary-button:before {
  content: "";
  height: 110%;
  width: 100%;
  display: block;
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
}

.secondary-button:active:before {
  top: -10%;
  height: 120%;
}

.secondary-button[rel="external"]:after {
  display: none;
  content: none;
  margin-left: 0;
  margin-right: 0;
}

.link-back {
  display: block;
  width: 38px;
}

textarea {
  min-height: 6em;
}

textarea#additionalInfo {
  min-height: 15em;
}

textarea + .character-count {
  float: left;
  margin: 5px 0 0 4px;
  text-align: right;
}

fieldset .panel-indent {
  margin-bottom: 10px;
}

.help-text {
  margin-top: 15px;
}

.list-help-text {
  margin: -15px 0 0 10px;
}

.panel-indent.disclaimer {
  position: relative;
  background: #28a197;
  /* Fallback for older browsers without RGBA-support */
  background: rgba(40, 161, 151, 0.25);
  border-left: 6px solid #28A197;
  padding: 20px 27px 15px;
}

.list-user-input li {
  border-bottom: 1px solid #bfc1c3;
  float: left;
  width: 100%;
}

.list-user-input li,
.panel-indent .list-user-input .form-group:last-child {
  margin-bottom: 20px;
}

.list-user-input li:last-child {
  border: none;
  margin-bottom: 60px;
}

.list-user-input li h2 {
  float: left;
  margin-top: 0;
}

.list-user-input .remove {
  float: right;
}

.highlighted-event {
  background-color: #28a197;
  color: #fff;
  float: none;
  text-align: center;
  padding: 1em 2em 1em 2em;
  margin: 50px auto 10px;
  width: 80%;
}

.highlighted-event h1 {
  background: url("../images/tick.png") no-repeat 0 0;
  height: 80px;
  margin-bottom: 0;
  padding: 20px 0 0 80px;
}

/***************************
check and change
****************************/
.answers-cont {
  border-bottom: 1px solid #bfc1c3;
  float: left;
  margin-bottom: 20px;
  width: 100%;
}

.answers-cont h2 {
  border-bottom: 3px solid #bfc1c3;
  margin: 0 0 0.53em;
}

.answers-cont .column-two-thirds {
  padding-left: 0;
}

.answers-cont .question {
  color: #6f777b;
  float: left;
  padding-right: 2%;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.answers-cont .answer {
  float: left;
  width: 50%;
}

.answers-cont li {
  float: left;
  margin-bottom: 13px;
  width: 100%;
}

.answers-cont li:last-child {
  margin-bottom: 11px;
}

.answers-cont li:not(:last-child) {
  border-bottom: 1px solid #bfc1c3;
  padding-bottom: 12px;
}

.answers-cont li h3 {
  border-bottom: 1px solid #bfc1c3;
  color: #6f777b;
  font-weight: 700;
  margin: 2px 0 12px;
  padding-bottom: 8px;
}

.answers-cont li ul .question {
  padding-left: 22px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.answers-cont li ul li:last-child {
  margin-bottom: 0;
}

.answers-cont li .list-bullet li {
  border: none;
  margin: 0;
  padding-bottom: 4px;
}

/**********************
Pip-15
***********************/
.pip-15 .answers-cont {
  margin-bottom: 35px;
}

.pip-15 .answers-cont .column-two-thirds {
  display: none;
}

/**********************
Pip-16
***********************/
.pip-16 .heading-highlight {
  background: #28a197;
  /* Fallback for older browsers without RGBA-support */
  background: rgba(40, 161, 151, 0.25);
  margin: 0;
  padding: 10px 15px 8px 15px;
}

.pip-16 .checkYourAnswersCont ul li {
  padding: 10px 0 8px;
}

.pip-16 .checkYourAnswersCont ul li:nth-child(even) {
  background: #f8f8f8;
}

.pip-16 .answer-this {
  background: url(../images/empty-tick.png) no-repeat 3px 2px;
  padding-left: 30px;
}

.pip-16 .change-this {
  background: url(../images/cya-tick.png) no-repeat 3px 3px;
  padding-left: 30px;
}

/**********************
screenshots
.js-hidden {
  display: block !important;
}

***********************/
.column-full {
  padding: 0 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@media (min-width: 641px) {
  .column-full {
    float: left;
    width: 100%;
  }
}

.button {
  margin: 0 15px 15px 0;
}

.panel-indent {
  clear: both;
  border-left: 4px solid #bfc1c3;
  padding: 10px 0 10px 15px;
  margin: 30px 15px 45px 0;
}

.panel-indent legend {
  margin-top: 0;
}

.panel-indent p:only-child,
.panel-indent p:last-child {
  margin-bottom: 0;
}

.panel-indent .form-group:last-child {
  margin-bottom: 0;
}

/*********************
Helpline number
**********************/
#ad-helpline {
  border-top: 3px solid #28A197;
  margin-top: 54px;
  padding-top: 5px;
}

#ad-helpline p {
  margin-bottom: 10px;
}

#ad-helpline h3 {
  margin: 10px 0;
}

@media (max-width: 640px) {
  #ad-helpline {
    float: left;
    margin-top: 0;
  }
}

/*********************
PIP18
**********************/
.pip18 textarea.form-control-3-4 {
  height: 400px;
}
