{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}
<main id="content" role="main" class="pip21">

<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-xlarge">
	      Personal Independence Payment (<abbr>PIP</abbr>)
	    </h1>

		<aside>
			<div class="inner">
				<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
					<ol class="list-bullet list-none grid-row">
						<div class="column-half">
							<li class="font-xsmall">
								1. <a href="overview" title="Part 1:  Overview">Overview</a>
							</li>
							<li class="font-xsmall">
								2. <a href="eligibility" title="Part 2:  Eligibility">Eligibility</a>
							</li>
							<li class="font-xsmall">
								3. <a href="the-application-process" title="Part 3: The application process">How you're assessed</a>
							</li>
						</div>
						<div class="column-half">
							<li class="font-xsmall">
								4. <a href="apply" title="Part 4: Apply">Apply</a>
							</li>
							<li class="font-xsmall">
								5. <a href="report-a-change" title="Part 5: If your circumstances change">If your circumstances change</a>
							</li>
							<li class="font-xsmall">
								6. <a href="appeals" title="Part 6: Appeals">Appeals</a>
							</li>
						</div>
					</ol>
				</nav>
			</div>
		</aside>

	    <div class="inner-block">
		    <header>
		    	<h1 class="heading-medium">6. Appeals</h1>
		    </header>
			<article>
				<p>If you disagree with your Personal Independence Payment (PIP) decision:</p>

				<ol class="list list-number">
          <li><p>Discuss the decision with the Personal Independence Payment team.</p> <p>Explain why you do not agree - include if you think something has been
overlooked or if your circumstances have changed. The contact details will be on your decision letter.</p> </li>
          <li><p>Make a formal request to have the decision looked at again (known as ‘mandatory reconsideration’) if you still disagree.</p> <p>Explain why you’re asking for a reconsideration and include more information if necessary. The contact details will be on your decision letter. You must make the request within 1 month of your decision.</p></li>
          <li><p>Fill in a <a href="http://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?court_forms_id=3038" target="_blank">‘Notice of appeal against a decision of the Department of Work and Pensions’</a> if you disagree with the mandatory reconsideration.</p><p>You must send this within 1 month of your mandatory reconsideration decision.</li>
				</ol>

			</article>

			<footer>
				<nav class="pagination" role="navigation" aria-label="Pagination">
					<ul class="group">
						<li class="previous">
            				<a href="report-a-change" rel="prev" title="Navigate to previous part">
              					<span class="pagination-label">Previous </span> <span class="pagination-part-title">Change of circumstances</span>
              				</a>
              			</li>

    				</ul>
    			</nav>
    		</footer>

	    </div>
	</div>

	<div class="column-third">
		<div>
			<h2 class="heading-medium" style="border-top: 10px solid #005ea5; padding-top: 15px;">Carers and disability benefits</h2>

			<nav role="navigation" aria-labelledby="parent-subsection">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/pip-checker">Check how Personal Independence Payment (PIP) affects you</a>
					</li>

					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/dla-disability-living-allowance-benefit">Disability Living Allowance (DLA) for adults</a>
					</li>

					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/disability-living-allowance-children">Disability Living Allowance (DLA) for children</a>
					</li>

					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/financial-help-disabled">Financial help if you're disabled</a>
					</li>


					<li class="related-topic">
						<a href="http://www.gov.uk/browse/benefits/disability" title="More in Carers and disability benefits">More<span class="visuallyhidden">in Carers and disability benefits</span></a>
					</li>
				</ul>
			</nav>
		</div>

		<div>
			<h2 class="heading-medium">Benefits</h2>

			<nav role="navigation" aria-labelledby="parent-section">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk//how-to-have-your-benefits-paid">How and when your benefits are paid</a>
					</li>
					<li class="related-topic">
						<a href="http://www.gov.uk//browse/benefits" title="More in Benefits">More <span class="visuallyhidden">in Benefits</span></a>
					</li>
				</ul>
			</nav>
		</div>

		<div>
			<h2 class="heading-medium">Elsewhere on GOV.UK</h2>

			<nav role="navigation" aria-labelledby="parent-other">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk//find-a-community-support-group-or-organisation">Find a community support group or organisation</a>
					</li>
					<li>
						<a href="http://www.gov.uk//looking-for-work-if-disabled">Looking for work if you're disabled</a>
					</li>
				</ul>
			</nav>
		</div>

		<div>
			<h2 class="heading-medium">Elsewhere on the web</h2>

			<nav role="navigation" aria-labelledby="related-external-links">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="https://www.youtube.com/watch?v=dG_nG1MYU3k" rel="external">British Sign Language guide to PIP</a>
					</li>
				</ul>
			</nav>
		</div>

		<div class="inner group">
			<a class="return-to-top font-xsmall" href="#content">Return to top ↑</a>
		</div>

	</div>
</div>

</main><!-- / #page-container -->

{% endblock %}
