{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "pip21/elements.html" as elements %}
{% for page in data %}
{% for question in page.appointee %}
<main id="content" role="main" class="pip21">

	<div class="grid-row">
			<div class="column-two-thirds">

				<form action="/pip21/appointee{% if edit %}?edit=true{% endif %}" method="post" class="form">

      	  {{ elements.header(page,question) }}
					{% set seq = [
						{"id":"helper1", "label":question.yourselfLabel, "value":question.yourselfLabel},
						{"id":"helper2", "label":question.friendLabel,   "value":question.friendLabel, "showPanel":"third-party"},
						{"id":"helper3", "label":question.behalfLabel,   "value":question.behalfLabel, "showPanel":"appointee-details"}
					] %}
					{{ elements.radioSelect('appointee',question.question,"",answers.appointee,seq,"inline") }}

					<div class="panel panel-border-narrow {% if answers.appointee != question.friendLabel %}js-hidden{% endif %}" id="third-party">
						{{ elements.genericInput('name',question.helperNameQ, answers.name) }}
            {{ elements.genericInput('relationship',question.knowThemQ, answers.relationship, question.q3HintText) }}
	          {{ elements.textarea('why',question.whyHelpQ, answers.why) }}
					</div>

					<div class="panel panel-border-narrow  {% if answers.appointee != question.behalfLabel %}js-hidden{% endif %}" id="appointee-details">
              <fieldset class="inline form-group">
                <legend class="form-label-bold">You are completing this application on their behalf because:</legend>
                <label for="powerOfAttourney" class="block-label" data-target="other">
                  <input type="radio" id="powerOfAttourney" name="representativeReason" value="I am their registered Power of Attourney" aria-controls="other">
                   you are their registered Power of Attorney
                </label>
                <label for="courtOfLaw" class="block-label" data-target="other">
                  <input type="radio" id="courtOfLaw" name="representativeReason" value="Deputy for them under a court of law" aria-controls="other">
                  you Deputy for them under a court of law
                </label>
                <label for="appointee-check" class="block-label" data-target="registeredAppointee">
                  <input type="radio" id="appointee-check" name="representativeReason" value="APPOINTEE" aria-controls="registeredAppointee">
                  you are their registered Appointee
                </label>
                <label for="ownAffairs" class="block-label" data-target="other">
                  <input type="radio" id="ownAffairs" name="representativeReason" value="They cannot manage own affairs" aria-controls="other">
                  they cannot manage own affairs
                </label>
                <label class="block-label" data-target="pay-other" for="yearly1" style="clear:left;">
                  <input id="yearly1" type="radio" name="howoften1" value="other" aria-controls="pay-other">
                  Other
                </label>
                <div class="form-group js-hidden" id="pay-other">
                  <label class="form-label-bold" for="surgery-name">
                    <input type="text" class="form-control" id="surgery-name">
                  </label>
                </div>
              </fieldset>

              <div class="panel panel-border-narrow form-group js-hidden" id="registeredAppointee">
                <div class="form-group">
                  <label for="forenameAppointee" class="form-label">Forename</label>
                  <input type="text" name="forenameAppointee" id="forenameAppointee" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label for="surnameAppointee" class="form-label">Surname</label>
                  <input type="text" name="surnameAppointee" id="surnameAppointee" class="form-control" value="">
                </div>
              </div>

              <div class="panel panel-border-narrow form-group js-hidden" id="other">
                <div class="form-group">
                  <label for="title" class="form-label">Title</label>
                  <input type="text" name="title" id="title" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label for="forename" class="form-label">First name</label>
                  <input type="text" name="forename" id="forename" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label for="surname" class="form-label">Last name</label>
                  <input type="text" name="surname" id="surname" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label for="otherName" class="form-label">Other name</label>
                  <input type="text" name="otherName" id="otherName" class="form-control" value="">
                </div>

                <div class="form-group">
                  <fieldset>
                    <legend><span class="form-label-bold">Date of birth</span></legend>

                    <div class="form-date">
                      <p class="form-hint">DD MM YYYY</p>

                      <div class="form-group form-group-day">
                        <label for="dob-day">Day</label>
                        <input type="text" class="form-control" id="dob-day" maxlength="2" name="dobDay" value="">
                      </div>
                      <div class="form-group form-group-month">
                        <label for="dob-month">Month</label>
                        <input type="text" class="form-control" id="dob-month" maxlength="2" name="dobMonth" value="">
                      </div>
                      <div class="form-group form-group-year">
                        <label for="dob-year">Year</label>
                        <input type="text" class="form-control" id="dob-year" maxlength="4" name="dobYear" value="">
                      </div>
                    </div>
                  </fieldset>
                </div>

                <div class="form-group">
                  <label for="nino" class="form-label">National Insurance number</label>
                  <input type="text" name="nino" id="nino" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label for="mobileTelephoneNumber" class="form-label">Mobile telephone number</label>
                  <input type="text" name="mobileTelephoneNumber" id="mobileTelephoneNumher" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label class="form-label">Address</label>
                  <input type="text" name="address1" id="address1" class="form-control" value="">
                  <input type="text" name="address2" id="address2" class="form-control" value="">
                  <input type="text" name="address3" id="address3" class="form-control" value="">
                  <input type="text" name="address4" id="address4" class="form-control" value="">
                </div>

                <div class="form-group">
                  <label for="postCode" class="form-label">Postcode</label>
                  <input type="text" name="postCode" id="postCode" class="form-control" value="">
                </div>
              </div>


            </div>

					{{ elements.submit(page,question,true,false) }}

        </form>
			</div>
			{{ elements.helpline(page) }}
	</div>

</main>

{% endfor %}
{% endfor %}
{% endblock %}
