{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

<main id="content" role="main" class="pip21">

<div class="grid-row">
	<div class="column-two-thirds">
	    <h1 class="form-title heading-xlarge">
	      Personal Independence Payment (<abbr>PIP</abbr>)
	    </h1>

		<aside>
			<div class="inner">
				<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
					<ol class="list-bullet list-none grid-row">
						<div class="column-half">
							<li class="font-xsmall">
								1. <a href="overview" title="Part 1:  Overview">Overview</a>
							</li>
							<li class="font-xsmall">
								2. <a href="eligibility" title="Part 2:  Eligibility">Eligibility</a>
							</li>
							<li class="font-xsmall">
								3. <a href="the-application-process" title="Part 3: The application process">How you're assessed</a>
							</li>
						</div>
						<div class="column-half">
							<li class="font-xsmall">
								4. <a href="apply" title="Part 4: Apply">Apply</a>
							</li>
							<li class="font-xsmall">
								5. <a href="report-a-change" title="Part 5: If your circumstances change">If your circumstances change</a>
							</li>
						</div>
					</ol>
				</nav>
			</div>
		</aside>

	    <div class="inner-block">
		    <header>
		    	<h1 class="heading-medium">1. Overview</h1>
		    </header>
			<article>
				<p>You could get between £21.80 and £139.75 a week if you’re 16 to 64 and have a disability or long-term condition. How much you get depends on how your condition affects you, not what condition you have.</p>

				<p>The money is tax-free and you can get it whether you're working or not.</p>
		<div class="panel-indent">
				<p>If you currently get Disability Living Allowance (DLA) you'll be told when to apply for PIP - only apply when you get a letter asking you to.</p>
					</div>
					<p>If you’re not on DLA and are over 64, check if you’re eligible for <a href="https://www.gov.uk/attendance-allowance/overview">Attendance Allowance</a></p>

					<p>If you’re under 16, check if you’re eligible for <a href="https://www.gov.uk/disability-living-allowance-children">Disability Living Allowance for children</a></p>
				</div>

				<!--h2 class="heading-medium">If you already get <abbr title="Personal Independence Payment">PIP</abbr></h2>

				<p>You must report any <a href="report-a-change" title="report a change in your circumstances">changes in your circumstances</a> including changes to:</p>

				<ul class="list-bullet">
					<li>your personal details, eg if you move home or change your bank account</li>
					<li>your condition gets worse or improves</li>
					<li>the medicines or treatment you get</li>
				</ul>

				<h2 class="heading-medium">If you're terminally ill</h2>

				<p>If you have a DS1500 form from your doctor, you can apply for <abbr title="Personal Independence Payment">PIP</abbr> by calling 0800 679 8900. You won't have to fill in the full application and won't need to go to an assessment.</p-->
			</article>

			<footer>
				<nav class="pagination" role="navigation" aria-label="Pagination">
					<ul class="group">
          				<li class="next">
            				<a href="eligibility" rel="next" title="Navigate to next part">
              					<span class="pagination-label">Next</span> <span class="pagination-part-title"> Eligibility</span>
							</a>
						</li>
    				</ul>
    			</nav>
    		</footer>

	    </div>



	<div class="column-third">
		<div>
			<h2 class="heading-medium" style="border-top: 10px solid #005ea5; padding-top: 15px;">Carers and disability benefits</h2>

			<nav role="navigation" aria-labelledby="parent-subsection">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/pip-checker">Check how Personal Independence Payment (PIP) affects you</a>
					</li>

					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/dla-disability-living-allowance-benefit">Disability Living Allowance (DLA) for adults</a>
					</li>

					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/disability-living-allowance-children">Disability Living Allowance (DLA) for children</a>
					</li>

					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk/financial-help-disabled">Financial help if you're disabled</a>
					</li>


					<li class="related-topic">
						<a href="http://www.gov.uk/browse/benefits/disability" title="More in Carers and disability benefits">More<span class="visuallyhidden">in Carers and disability benefits</span></a>
					</li>
				</ul>
			</nav>
		</div>

		<div>
			<h2 class="heading-medium">Benefits</h2>

			<nav role="navigation" aria-labelledby="parent-section">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk//how-to-have-your-benefits-paid">How and when your benefits are paid</a>
					</li>
					<li class="related-topic">
						<a href="http://www.gov.uk//browse/benefits" title="More in Benefits">More <span class="visuallyhidden">in Benefits</span></a>
					</li>
				</ul>
			</nav>
		</div>

		<div>
			<h2 class="heading-medium">Elsewhere on GOV.UK</h2>

			<nav role="navigation" aria-labelledby="parent-other">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="http://www.gov.uk//find-a-community-support-group-or-organisation">Find a community support group or organisation</a>
					</li>
					<li>
						<a href="http://www.gov.uk//looking-for-work-if-disabled">Looking for work if you're disabled</a>
					</li>
				</ul>
			</nav>
		</div>

		<div>
			<h2 class="heading-medium">Elsewhere on the web</h2>

			<nav role="navigation" aria-labelledby="related-external-links">
				<ul class="font-xsmall" style="list-style-type: none;">
					<li style="padding-bottom: 0.7em;">
						<a href="https://www.youtube.com/watch?v=dG_nG1MYU3k" rel="external">British Sign Language guide to PIP</a>
					</li>
				</ul>
			</nav>
		</div>

		<div class="inner group">
			<a class="return-to-top font-xsmall" href="#content">Return to top ↑</a>
		</div>

	</div>
</div>
	</div>
</main>

{% endblock %}
