{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "pip23/macros/elements.html" as elements %}
{% for page in data %}
{% for question in page.bankAccount %}
<main id="content" role="main" class="pip23">

	<div class="grid-row">
			<div class="column-two-thirds">

				<form action="/pip23/bankAccount{% if edit %}?edit=true{% endif %}" method="post" class="form">
					{{ elements.header(page,question) }}

					{{ elements.genericInput('accountName',question.accountName, answers.accountName) }}

          {{ elements.sortCode(question.sortCode,answers) }}

          {{ elements.genericInput('accountNumber',question.accountNumber, answers.accountNumber,"","form-control-1-3") }}

					{{ elements.submit(page,question,false,false,false) }}

        </form>
			</div>
			{{ elements.helpline(page) }}
	</div>

</main>

{% endfor %}
{% endfor %}
{% endblock %}
