{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "pip23/macros/elements.html" as elements %}
{% for page in data %}
{% for question in page.hotMeal %}
<main id="content" role="main" class="pip23">

	<div class="grid-row">
			<div class="column-two-thirds">

				<form action="/pip23/hotMeal{% if edit %}?edit=true{% endif %}" method="post" class="form form-group-frequency">
					{{ elements.header(page,question) }}
					{{ elements.answerLater() }}

					{% set seq = [
						{"id":"affect1", "label":question.motivatedLabel, "value":question.motivatedLabel, "showPanel":"details"},
						{"id":"affect8", "label":question.understandLabel, "value":question.understandLabel, "showPanel":"details"},
						{"id":"affect10", "label":question.safelyLabel, "value":question.safelyLabel, "showPanel":"details"},
						{"id":"affect2", "label":question.choppingLabel, "value":question.choppingLabel, "showPanel":"details"},
						{"id":"affect3", "label":question.openingLabel, "value":question.openingLabel, "showPanel":"details"},
						{"id":"affect4", "label":question.hobLabel, "value":question.hobLabel, "showPanel":"details"},
						{"id":"affect5", "label":question.microwaveLabel, "value":question.microwaveLabel, "showPanel":"details"},
						{"id":"affect6", "label":question.pansLabel, "value":question.pansLabel, "showPanel":"details"},
						{"id":"affect7", "label":question.plateLabel, "value":question.plateLabel, "showPanel":"details"},
						{"id":"affect9", "label":question.otherWayLabel, "value":question.otherWayLabel, "showPanel":"details",
							"target"        : "target2",
							"textbox"       : true,
							"textboxId"     : "textboxId2",
							"textboxAnswer" : answers.textboxId2
						},
						{"id":"affect10", "label":question.doesntLabel, "value":question.doesntLabel, "hidePanel":"details"}
					] %}
					{{ elements.checkbox('optionsName',"checkbox",question.question,page.tickAll,seq,answers,answers.optionsName,"check-uncheck") }}

					<div class="form-group panel-indent
					 {% if not answers.optionsName  or answers.optionsName == question.doesntLabel %}js-hidden{% endif %}" id="details">

						{% set seq = [
							{id:"conditionAffect1",label:question.encourageLabel,value:question.encourageLabel,"helpText":page.remindsMeHelp},
							{id:"conditionAffect2",label:question.helpLabel,value:question.helpLabel, "helpText":page.helpFromSomeone, "helpText2":page.helpFromSomeoneRec},
							{id:"conditionAffect3",label:question.relyLabel,value:question.relyLabel, "helpText":page.relyOnHelp, "helpText2":page.relyOnHelpRec},
							{id:"conditionAffect4",label:question.manageLabel,value:question.manageLabel, "helpText":page.difficultiesManage},
							{"id":"conditionAffect6", "label":question.otherWayLabel, "value":question.otherWayLabel,
								"target"         : "conditionAffectOther",
								"textarea"       : true,
								"textareaId"     : "conditionAffectOther",
								"textareaLabel"  : "",
								"textareaAnswer" : answers.conditionAffectOther
							}
						] %}
						{{ elements.checkbox('manageNow',"checkbox",question.question3,'',seq,answers,answers.manageNow) }}

						{{ elements.frequency(question.frequency,"frequencyOption",question.question2,answers,answers.frequencyOption)}}

						{{ elements.textarea("howDoes",question.question4,answers.howDoes,"",question.helpTextHd,question.helpText) }}
					</div>

					{% if answers.skipQuestion.length or edit %}
						{{ elements.returnToMenu(page,question) }}
					{% else %}
						{{ elements.submit(page,question,true,true) }}
					{% endif%}

        </form>
			</div>
			{{ elements.helpline(page) }}
	</div>

</main>

{% endfor %}
{% endfor %}
{% endblock %}
