{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "pip23/macros/elements.html" as elements %}
{% for page in data %}
{% for question in page.registered %}
<main id="content" role="main" class="pip23">

	<div class="grid-row">
			<div class="column-two-thirds">

				<form action="/pip23/{% if edit %}?edit=true{% endif %}" method="post" class="form">
					{{ elements.header(page,question) }}


<p>An email has been sent to <strong>{{registration.username}}</strong>. Click on the link in the email to apply for Personal Independance Payment (PIP).</p>
<div class="form-group">
{{ question.question2 }}
</div>
<div class="form-group">
{{ question.question3 |  safe}}
</div>

        </form>
			</div>
			{{ elements.helpline(page) }}
	</div>

</main>

{% endfor %}
{% endfor %}
{% endblock %}
