{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "pip14/elements.html" as elements %}
{% for page in data %}
{% for question in page.treatments %}
<main id="content" role="main">

	<div class="grid-row">
			<div class="column-two-thirds">

				<form action="/pip14/treatments{% if edit %}?edit=true{% endif %}" method="post" class="form">
					{{ elements.header(page,question) }}

					{% set seq  = [
						{"id":"treatments","value":"Yes","showPanel":"medications"},
						{"id":"treatments", "value":"No"}
					] %}
					{{ elements.radioSelect('treatments',question.question,"",answers.treatments,seq,"inline") }}

          <div class="form-group panel-indent {% if answers.treatments != 'Yes' %}js-hidden{% endif %}" id="medications">
						<ul class="list-user-input">
							{% for i in range(1, 11) -%}
								<li id="condition-row-{{i}}" class="condition-row {% if not loop.first %} js-hidden {% endif %}">
									<h2 class="heading-small">{{ question.rowHd }} {{i}}</h2>
									{% if not loop.first %}<a href="#" class="remove">{{ question.removeLink }}</a>{% endif %}

										{% set treatment = "treatment" + i %}
										{% set conditionAnswer = answers.treatment %}
										{{ elements.genericInputList(treatment,question.treatmentHd, conditionAnswer,"treatment-1") }}

										{% set often = "often" + i %}
										{% set startedAnswer = answers.often %}
										{{ elements.genericInputList(often,question.oftenHd, answers.often,"often-1") }}
								</li>
							{% endfor %}
							<li><a href="add-another" class="add-another secondary-button" data-target="condition-row">Add another</a></li>
						</ul>

						{% set seq2  = [
							{"id":"atHome","value":"Yes"},
							{"id":"atHome", "value":"No"}
						] %}
						{{ elements.radioSelect('atHome',question.question2,"",answers.atHome,seq2,"inline") }}

          </div>

					{{ elements.submit(page,question) }}

        </form>
			</div>
	</div>

</main>

{% endfor %}
{% endfor %}
{% endblock %}
