{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "elements/elements.html" as elements %}

{% for page in page %}
{% for questions in page.helper %}

<main id="content" role="main">

	<div class="grid-row">
			<div class="column-two-thirds">

				<form action="/pip13/helper{% if edit %}?edit=true{% endif %}" method="post" class="form">

					<a href="{{questions.backLink}}" class="example-back-link">{{page.backText}}</a>

					<header>
	          <h1 class="form-title heading-large">
							<span class=" section-progress">
							  Page {{questions.page}} of {{page.maxPages}}
							</span>
							{{questions.heading}} </h1>
	        </header>

					{% set question  = questions.question %}
				  {% set answer    = answers.helper %}
				  {% set question2 = questions.question2 %}
				  {% set answer2   = answers.name %}
				  {% set question3 = questions.question3 %}
				  {% set answer3   = answers.relationship %}

					{% set seq  = [{"id":"helper-Yes","value":"Yes","showPanel":"helperDetailsFields"},{"id":"helper-No","value":"No"}] %}
					{{ elements.formRadioSelect('helper',question,"",answer,seq,"inline") }}

				  <div class="panel-indent {% if answer != 'Yes' %}js-hidden{% endif %} " id="helperDetailsFields">
				    {{ elements.genericInput('name',question2, answer2) }}
				    {{ elements.genericInput('relationship',question3, answer3) }}
				  </div>

					{{elements.submit(page,questions)}}

				</form>

			</div>
			<div class="column-third">

			</div>
		</div>

</main>
{% endfor %}
{% endfor %}
{% endblock %}
