{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "elements/elements.html" as elements %}

{% for page in page %}
{% for questions in page.manageMedications %}

<main id="content" role="main">

	<div class="grid-row">
		<div class="column-two-thirds">

			<form action="/pip13/manageMedications{% if edit %}?edit=true{% endif %}" method="post" class="form">

				<a href="{{questions.backLink}}" class="example-back-link">{{page.backText}}</a>

				<header>
          <h1 class="form-title heading-large">
						<span class=" section-progress">
						  Page {{questions.page}} of {{page.maxPages}}
						</span>
						{{questions.heading}} </h1>
        </header>

				{% set question         = questions.question %}
				{% set questionHintText = questions.questionHintText %}
				{% set answer           = answers.frequency %}
				{% set difficulties     = questions.difficultyList %}
				{% set question2        = questions.question2 %}
				{% set question3        = questions.question3 %}
				{% set howOften         = page.howOften %}

				{% if questions.frequency %}
					{% set frequency = questions.frequency%}
				{% else %}
					{% set frequency = page.frequency %}
				{% endif %}

				{% if questions.diffultyQuestion %}
					{% set diffultyQuestion   = questions.diffultyQuestion %}
					{% set difficultyHintText = questions.difficultyHintText %}
				{% else %}
					{% set diffultyQuestion   = page.diffultyQuestion %}
					{% set difficultyHintText = page.difficultyHintText %}
				{% endif %}

				{{ elements.frequency("frequency",question,questionHintText,answer,howOften,frequency,diffultyQuestion,difficultyHintText,difficulties,question2,question3,page) }}

				{{elements.submit(page,questions)}}

			</form>

		</div>
		<div class="column-third">

		</div>
	</div>

</main>

{% endfor %}
{% endfor %}
{% endblock %}
