{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "elements/elements.html" as elements %}

{% for page in page %}
{% for questions in page.medications %}

<main id="content" role="main">

	<div class="grid-row">
		<div class="column-two-thirds">

			<form action="/pip13/medications{% if edit %}?edit=true{% endif %}" method="post" class="form">

				<a href="{{questions.backLink}}" class="example-back-link">{{page.backText}}</a>

				<header>
          <h1 class="form-title heading-large">
						<span class=" section-progress">
						  Page {{questions.page}} of {{page.maxPages}}
						</span>
						{{questions.heading}} </h1>
        </header>

				{% set question      = questions.question %}
				{% set answer        = answers.currentMedications %}
				{% set tableHeading  = questions.tableHeading %}
				{% set tableHeading2 = questions.tableHeading2 %}
				{% set tableHeading3 = questions.tableHeading3 %}

				{% set seq  = [{"id":"currentMedications-Yes","value":"Yes","showPanel":"currentMedicationsFields"},{"id":"currentMedications-No","value":"No"}] %}
				{{ elements.formRadioSelect('currentMedications',question,"",answer,seq,"inline") }}

				<div class="panel-indent {% if answer != 'Yes' %}js-hidden{% endif %} " id="currentMedicationsFields">
					{{ elements.formTable('medicationList','medication',tableHeading,tableHeading2,tableHeading3,8,answers) }}
				</div>

				{{elements.submit(page,questions)}}

			</form>

		</div>
		<div class="column-third">

		</div>
	</div>

</main>

{% endfor %}
{% endfor %}
{% endblock %}
