{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "elements/elements.html" as elements %}

{% for page in page %}
{% for questions in page.nationality %}

<main id="content" role="main">

	<div class="grid-row">
			<div class="column-two-thirds">

				<form action="/pip13/nationality{% if edit %}?edit=true{% endif %}" method="post" class="form checkMyAnswers" data-question="questions">

					<a href="{{questions.backLink}}" class="example-back-link">{{page.backText}}</a>

					<header>
	          <h1 class="form-title heading-large">
							<span class=" section-progress">
							  Page {{questions.page}} of {{page.maxPages}}
							</span>
							{{questions.heading}} </h1>
	        </header>

					{% set question          = questions.question %}
				  {% set answer            = answers.britishCitizen %}
				  {% set question2         = questions.question2 %}
				  {% set answer2           = answers.yourNationality %}
				  {% set question3         = questions.question3 %}
				  {% set answer3           = answers.livingUK %}
				  {% set question4         = questions.question4 %}
				  {% set answer4           = answers.livingCountry %}
				  {% set question5         = questions.question5 %}
				  {% set question5HintText = questions.question5HintText %}
					{% set answer5           = answers.beenAbroad %}

					{% set seq  = [{"id":"british","value":"British"},{"id":"another","value":"Another nationality","showPanel":"yourNationalityArea"}] %}
					{{ elements.formRadioSelect('britishCitizen',question,"",answer,seq) }}
					<div class="panel-indent {% if answer != 'Another nationality' %}js-hidden{% endif %} " id="yourNationalityArea">
				    {{ elements.genericInput('yourNationality',question2, answer2) }}
				  </div>

					{% set seq  = [{"id":"livingUK-Yes","value":"Yes"},{"id":"livingUK-No","value":"No","showPanel":"livingUKAreaNo"}] %}
					{{ elements.formRadioSelect('livingUK',question3,"",answer3,seq,"inline") }}
					<div class="panel-indent {% if answer3 != 'No' %}js-hidden{% endif %} " id="livingUKAreaNo">
				    {{ elements.genericInput('livingCountry',question4, answer4) }}
				  </div>

					{% set seq  = [{"id":"beenAbroad-Yes","value":"Yes"},{"id":"beenAbroad-No","value":"No"}] %}
					{{ elements.formRadioSelect('beenAbroad',question5,question5HintText,answer5,seq,"inline") }}

	        {{elements.submit(page,questions)}}

				</form>

			</div>
			<div class="column-third">

			</div>
		</div>

</main>
{% endfor %}
{% endfor %}
{% endblock %}
