{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "elements/elements.html" as elements %}


<main id="content" role="main">

	<div class="grid-row">
			<div class="column-two-thirds">

				<form action="/pip13/helper{% if edit %}?edit=true{% endif %}" method="post" class="form">

					<header>
	          <h1 class="form-title heading-large">
							<span class=" section-progress">
							  Page 1 of 50
							</span>
							Title of page</h1>
	        </header>

					<p>Introduction paragraph which should be over two or three lines maximum ideally. Maybe two or three sentences.</p>

					{% set seq  = [{"id":"helper-Yes","value":"Yes","showPanel":"helperDetailsFields"},{"id":"helper-No","value":"No"}] %}
					{{ elements.formRadioSelect('helper',"question","","answer",seq,"inline") }}

				</div>
		</div>

</main>

{% endblock %}
