{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="grid-row">
		<div class="column-two-thirds">

			<a href="/pip13/apply" class="example-back-link">Back</a>
	      <h1 class="form-title heading-large">
	       What you’ll be asked 			</h1>

	      <p>We need to know how your condition affects you, so you’ll be asked about:</p>

	      <h2 class="heading-small"><a href="#">You</a></h2>
	      <ul class="list-bullet">
	        <li>help with your application</li>
	        <li>nationality and where you live</li>
	        <li>payments from abroad</li>
	      </ul>

	      <h2 class="heading-small"><a href="#" >You and your condition</a></h2>
	      <ul id="yourAndYourCondition" class="js-hidden list-bullet">
	        <li>your conditions and disabilities</li>
	        <li>your medication</li>
	        <li>your treatments and therapy</li>
	        <li>side effects</li>
	        <li>changes in your condition</li>
	        <li>monitoring your condition</li>
	        <li>professionals who know about your condition</li>
	        <li>medical information</li>
	        <li>any aids and adaptations you have</li>
	        <li>seeing, speaking and hearing</li>
	      </ul>

	      <h2 class="heading-small"><a href="#" >You and your home</a></h2>
	      <ul class="js-hidden list-bullet">
	        <li>getting around your home</li>
	        <li>using the toilet</li>
	        <li>washing yourself</li>
	        <li>getting dressed </li>
	        <li>preparing and cooking food</li>
	        <li>eating and drinking</li>
	      </ul>

	      <h2 class="heading-small"><a href="#" >Getting out and about</a></h2>
	      <ul class="js-hidden list-bullet">
	        <li>getting out and about</li>
	        <li>mixing with people</li>
	      </ul>

	      <h2 class="heading-small"><a href="#" >Making sense of things</a></h2>
	      <ul class="js-hidden list-bullet">
	        <li>planning a local journey</li>
	        <li>going somewhere you have never been</li>
	        <li>going somewhere you know</li>
	        <li>your understanding of words, sentences, instructions and signs</li>
	        <li>making decisions about money</li>
	      </ul>


	      <div class="application-notice panel-indent">
	        <p>Include as much information as you can in your answers.</p>
	      </div>

	      <a href="helper" class="button">Continue</a>
	      <br />
	      <a href="/pip13/apply" class="example-back-link">Back</a>
			</div>
		<div class="column-third">

		</div>
	</div>

</main>
{% endblock %}
