{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="grid-row">
		<div class="column-two-thirds">
		    <h1 class="form-title heading-xlarge">
		      Personal Independence Payment (<abbr>PIP</abbr>)
		    </h1>

			<aside>
				<div class="inner">
					<nav role="navigation" class="page-navigation" aria-label="parts to this guide">
						<ol class="list-bullet list-none grid-row">
							<div class="column-half">
								<li class="font-xsmall">
									1. <a href="overview" title="Part 1:  Overview">Overview</a>
								</li>
								<li class="font-xsmall">
									2. <a href="eligibility" title="Part 2:  Eligibility">Eligibility</a>
								</li>
								<li class="font-xsmall">
									3. <a href="the-application-process" title="Part 3: The application process">How you're assessed</a>
								</li>
							</div>
							<div class="column-half">
								<li class="font-xsmall">
									4. <a href="apply" title="Part 4: Apply">Apply</a>
								</li>
								<li class="font-xsmall">
									5. <a href="report-a-change" title="Part 5: Report a change in circumstances">Report a change in circumstances</a>
								</li>
							</div>
						</ol>
					</nav>
				</div>
			</aside>

		    <div class="inner-block">
		    	<header>
		    		<h1 class="heading-medium">How you're assessed</h1>
		    	</header>

		    	<article>


		    		<p>A healthcare professional will look at <a href="apply.html">your application</a> and any other evidence you send. If they think there's enough information to make a decision they'll pass your application on to an assessor to make a decision on your claim - this is known as a paper-based assessment.</p>
		    		<p>If they don't think there's enough information then you'll be asked for a face-to-face meeting.</p>
		    		<h2 class="heading-small">Face-to-face assessment</h2>
		    		<p>If you need a face-to-face meeting, you’ll usually be asked within xx weeks of sending your claim. It may take place at an assessment centre or at your home.</p>

		    		<p>The meeting will be with a healthcare expert. It will usually last around an hour. During the meeting you'll be asked:</p>

		    		<ul class="list-bullet">
		    			<li>questions about your application</li>
		    			<li>for more information about how your condition affects your life</li>
		    		</ul>
		    		<h2 class="heading-small">Your decision</h2>
		    		<p>Whether your assessment is paper-based or includes a face-to-face meeting, you'll usually get a decision 3 weeks after your assessment. </p>

		    		<p>You can ask for your claim to be reconsidered if it's rejected - your decision letter will tell you how.</p>

				</article>

				<footer>
					<nav class="pagination" role="navigation" aria-label="Pagination">
						<ul class="group">
							<li class="previous">
	            				<a href="eligibility" rel="prev" title="Navigate to previous part">
	              					<span class="pagination-label">Previous </span> <span class="pagination-part-title">Eligibility</span>
	              				</a>
	              			</li>
	          				<li class="next">
	            				<a href="apply" rel="next" title="Navigate to next part">
	              					<span class="pagination-label">Next</span> <span class="pagination-part-title"> Apply</span>
								</a>
							</li>
	    				</ul>
	    			</nav>
	    		</footer>

		    </div>
		</div>

		<div class="column-third">
			<div>
				<h2 class="heading-medium" style="border-top: 10px solid #005ea5; padding-top: 15px;">Carers and disability benefits</h2>

				<nav role="navigation" aria-labelledby="parent-subsection">
					<ul class="font-xsmall" style="list-style-type: none;">
						<li style="padding-bottom: 0.7em;">
							<a href="http://www.gov.uk/pip-checker">Check how Personal Independence Payment (PIP) affects you</a>
						</li>

						<li style="padding-bottom: 0.7em;">
							<a href="http://www.gov.uk/dla-disability-living-allowance-benefit">Disability Living Allowance (DLA) for adults</a>
						</li>

						<li style="padding-bottom: 0.7em;">
							<a href="http://www.gov.uk/disability-living-allowance-children">Disability Living Allowance (DLA) for children</a>
						</li>

						<li style="padding-bottom: 0.7em;">
							<a href="http://www.gov.uk/financial-help-disabled">Financial help if you're disabled</a>
						</li>


						<li class="related-topic">
							<a href="http://www.gov.uk/browse/benefits/disability" title="More in Carers and disability benefits">More<span class="visuallyhidden">in Carers and disability benefits</span></a>
						</li>
					</ul>
				</nav>
			</div>

			<div>
				<h2 class="heading-medium">Benefits</h2>

				<nav role="navigation" aria-labelledby="parent-section">
					<ul class="font-xsmall" style="list-style-type: none;">
						<li style="padding-bottom: 0.7em;">
							<a href="http://www.gov.uk//how-to-have-your-benefits-paid">How and when your benefits are paid</a>
						</li>
						<li class="related-topic">
							<a href="http://www.gov.uk//browse/benefits" title="More in Benefits">More <span class="visuallyhidden">in Benefits</span></a>
						</li>
					</ul>
				</nav>
			</div>

			<div>
				<h2 class="heading-medium">Elsewhere on GOV.UK</h2>

				<nav role="navigation" aria-labelledby="parent-other">
					<ul class="font-xsmall" style="list-style-type: none;">
						<li style="padding-bottom: 0.7em;">
							<a href="http://www.gov.uk//find-a-community-support-group-or-organisation">Find a community support group or organisation</a>
						</li>
						<li>
							<a href="http://www.gov.uk//looking-for-work-if-disabled">Looking for work if you're disabled</a>
						</li>
					</ul>
				</nav>
			</div>

			<div>
				<h2 class="heading-medium">Elsewhere on the web</h2>

				<nav role="navigation" aria-labelledby="related-external-links">
					<ul class="font-xsmall" style="list-style-type: none;">
						<li style="padding-bottom: 0.7em;">
							<a href="https://www.youtube.com/watch?v=dG_nG1MYU3k" rel="external">British Sign Language guide to PIP</a>
						</li>
					</ul>
				</nav>
			</div>

			<div class="inner group">
				<a class="return-to-top font-xsmall" href="#content">Return to top ↑</a>
			</div>

		</div>
	</div>

</main>

{% endblock %}
