{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "pip19/elements.html" as elements %}
{% for page in data %}
{% for question in page.healthcareprofessional %}
<main id="content" role="main" class="pip19">

	<div class="grid-row">
			<div class="column-two-thirds">

				<form action="/pip19/healthcareprofessional{% if edit %}?edit=true{% endif %}" method="post" class="form">
					{{ elements.header(page,question) }}

					{% set seq  = [
						{"id":"contactHcp","value":"Yes","showPanel":"hcpDetails"},
						{"id":"contactHcp", "value":"No"}
					] %}
					{{ elements.radioSelect('contactHcp',question.question,"",answers.contactHcp,seq,"inline") }}

					<div class="form-group panel-indent {% if answers.contactHcp != 'Yes' %}js-hidden{% endif %}" id="hcpDetails">
						<ul class="list-user-input">
							{% for i in range(1, 11) -%}

								<li id="condition-row-{{i}}" class="condition-row {% if not loop.first and not answers['name' + i] %} js-hidden {% endif %}">

									<h2 class="heading-small">{{ question.rowHd }} {{i}}</h2>
									{% if not loop.first %}<a href="#" class="remove">{{ question.removeLink }}</a>{% endif %}

										{{ elements.genericInputList("name" + i,question.nameHd, answers["name" + i]) }}

										{{ elements.genericInputList("profession" + i,question.professionHd, answers["profession" + i]) }}

										{{ elements.textarea("address" + i,question.addressHd, answers["address" + i],"","","",false) }}

										{{ elements.genericInputList("phone" + i,question.phoneHd, answers["phone" + i]) }}

										{{ elements.genericInputList("lastSeen" + i,question.lastSeenHd, answers["lastSeen" + i]) }}

								</li>
							{% endfor %}
							<li><a href="add-another" class="add-another secondary-button" data-target="condition-row">Add another</a></li>
						</ul>
						<details class="help-text form-group">
		          <summary><span class="summary">What happens if you decide we cannot contact them?</span></summary>
		          <div class="panel-indent">
		            <p>
		              If at any point you change your mind about allowing us to contact the professionals you’ve listed, tell us:
		            </p>
		            <p>Telephone: <span class="tel">0345 850 3322</span></p>
		            <p>Textphone: <span class="tel">0345 601 6677</span></p>
		            <p>Monday to Friday, 8am to 6pm</p>
		          </div>
		        </details>
          </div>

					{{ elements.submit(page,question) }}

        </form>
			</div>
			{{ elements.helpline(page) }}
	</div>

</main>

{% endfor %}
{% endfor %}
{% endblock %}
