{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-large">PIP Prototypes</h1>

				<h2 class="heading-medium"></h2>

				<ul>
					<li>PIP-24<a href="/pip24/overview"> Start at GOV.UK pages</a></li>
					<li>PIP-24<a href="/pip24/aboutYou"> Start at About You page</a></li>
		</ul>
				<br />

				<ul>
					<li><a href="/pip23/overview">PIP-23 - Design sprint</a></li>
					<li>
							<ul class="bulleted-list">
								<li>Moved declaration to after personal details page</li>
								<li>Added registed page to tell users to check their emails</li>
								<li>Added tell us about your most important HCP before end of Pip1</li>
								<li>Updated content on pip2start page, included making completion date standout more to users</li>
								<li>Also exit page to make completion date standout more to users </li>
								<li>Added Do you want to take a break heading above save and exit link</li>
								<li>Added Answer later link just after heading on each page</li>
							</ul>
					</li>
				</ul>

				<br />

				<ul>
					<li><a href="/pip22/overview">PIP-22</a></li>
					<li>
							<ul class="bulleted-list">
									<li>Split up Bank details question to 2 pages </li>
									<li>Added filter questions for SRTI, date of birth, postcode</li>
									<li>Added additional support question</li>
									<li>Removed email field from Contact Details</li>
									<li>Adjusted size of account number field</li>
									<li></li>

							</ul>
					</li>
				</ul>

				<br />
				<ul>
					<li><a href="/pip21/overview">PIP-21</a></li>
					<li>
							<ul class="bulleted-list">
									<li>Updated How far can you walk without stopping question</li>
									<li>Added Typeahead for country select</li>
									<li>Added Completion date and submit your application pages</li>
									<li>Added Keep a copy link on Thank you page</li>
									<li>Added Answer later button and unanswered questions page.</li>
									<li></li>

							</ul>
					</li>
				</ul>

				<br />
				<ul>
					<li><a href="/pip20/overview">PIP-20- appointee page, new bank details design</a></li>
				</ul>

				<br />
				<ul>
					<li><a href="/pip19/overview">PIP-19 - hcp consent, second declaration added to end</a></li>
				</ul>

				<br />
				<ul>
					<li><a href="/pip18/overview">PIP-18 - declaration moved to start, tailored help text, verfiy, new check your answers design</a></li>
				</ul>

				<h2 class="heading-medium">Sprint 24</h2>
				<ul>
					<li><a href="/pip17/overview">PIP-17</a></li>
				</ul>

				<h2 class="heading-medium">Sprint 23</h2>
				<ul>
					<li><a href="/pip16/overview">PIP-16 - Non-linear journey V2, moved frequency to under condition affects question.</a></li>
					<li>Screenshots <a href="/public/screens/pip16/pip16.pdf">Pdf</a> / <a href="public/screens/pip16/pip16.zip">Pngs</a></li>
				</ul>

				<h2 class="heading-medium">Sprint 22</h2>
				<ul>
					<li><a href="/pip15/overview">Non-linear journey</a></li>
					<li>Screenshots <a href="/public/screens/pip15/pip15.pdf">Pdf</a> / <a href="public/screens/pip15/pip15.zip">Pngs</a></li>
				</ul>

				<h2 class="heading-medium">Sprint 21</h2>
				<ul>
					<li><a href="/pip14/overview">Eddies New Designs / rebuild</a></li>
					<li>Screenshots <a href="/public/screens/pip14/screens.pdf">Pdf</a> / <a href="public/screens/pip14/screens.zip">Pngs</a></li>
				</ul>

				<h2 class="heading-medium">Sprint 18</h2>
				<ul>
					<li><a href="http://pip-alpha.herokuapp.com/pip14/overview">New ordering of activities questions, added in personal/contact details questions</a></li>
					<li><a href="http://pip-alpha.herokuapp.com/pip14a/overview">Removed introduction text from actitivies questions</a></li>
				</ul>

				<h2 class="heading-medium">Sprint 17</h2>
				<ul>
					<li><a href="http://pip-alpha.herokuapp.com/pip13/overview">New summary screens, more difficulty options, new understanding question</a></li>
				</ul>

				<h2 class="heading-medium">Sprint 16</h2>
				<ul>
					<li><a href="http://pip-alpha.herokuapp.com/pip12/overview">Hearing, seeing, speaking updates</a></li>
				</ul>

				<h2 class="heading-medium">Sprint 15</h2>
				<ul>
					<li><a href="http://pip-alpha.herokuapp.com/pip11/overview">Updates to match java build</a></li>
				</ul>

				<h2 class="heading-medium">Sprint 9</h2>
			    <ul>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip10/overview">Summary screens</a></li>
			    </ul>

				<h2 class="heading-medium">Sprint 8</h2>
			    <ul>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip9/overview">Full journey</a></li>
			    </ul>

				<h2 class="heading-medium">Sprint 7</h2>
			    <ul>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip7/overview">Scenarios, special aids, understanding, variability and review/edit pages</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip8/overview">Scenarios complete</a></li>
			    </ul>

			    <h2 class="heading-medium">Sprint 6</h2>
			    <ul>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip6/overview">Scenario based questions and evidence upload</a></li>
			    </ul>

			    <h2 class="heading-medium">Sprint 5</h2>
			    <ul>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip5/overview">Guided Tell My Story</a></li>
			    </ul>

			    <h2 class="heading-medium">Sprint 4</h2>
			    <ul>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/overview">12 activities and health condition</a></li>
			    </ul>

			    <h2 class="heading-medium">Sprint 3</h2>
			    <ul>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip3/overview">PIP2 route</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip3/overview-2">Radical route</a></li>
			    </ul>

			    <h2 class="heading-medium">Sprint 2</h2>
			    <ul>
			    	<li><a rel="external" href="http://pip-sprint2.herokuapp.com/pip/overview">Combining 7 guard questions</a></li>
			    </ul>

			    <h2 class="heading-medium">Sprint 1</h2>
			    <ul>
			    	<li><a rel="external" href="http://pip-sprint1.herokuapp.com/pip/overview">Guard page</a></li>
			    </ul>

			    <h2 class="heading-medium">Ben's prototype</h2>
			    <ul>
			    	<li><a rel="external" href="http://pip-v1.herokuapp.com/pip/start.html">Ben's prototype</a></li>
			    </ul>

			</div>
			<div class="column-third">
				<h2 class="heading-medium">User journey</h2>
			    <ul>
			    	<li><!--a href="http://pip-alpha.herokuapp.com/full/overview"-->Full journey<!--/a--> </li>
			    	<li><a href="http://pip-alpha.herokuapp.com/mvp/overview">MVP</a>
			    </ul>

			    <h2 class="heading-medium">Ideas</h2>

			    <ul>
			    	<li><a href="http://pip-alpha.herokuapp.com/sandbox/health-conditions">New health condition</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/sandbox/submit-evidence">Submit evidence</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/sandbox/save">Save</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/sandbox/which-channel">Which channel</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/sandbox/bad-day">Bad day</a></li>
			        <li><a href="http://pip-alpha.herokuapp.com/review-flow/personal">Review</a></li>
	            </ul>

			    <h2 class="heading-medium">Pages</h2>
			    <ul>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/overview">GOV.UK - Overview</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/eligibility">GOV.UK - Eligibility</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/how-youre-assessed">GOV.UK - How you're assessed</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/apply">GOV.UK - Apply</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/report-a-change">GOV.UK - Report a change</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip3/before-you-start">Before you start</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip/guard-page">Guard page</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip01">Personal details</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip02">Health condition and medication</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip03">Healthcare Professionals</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip04">HCP Consent</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip05">Activities - communicating</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip06">Activities - mixing with people</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip07">Activities - moving around</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip08">Activities - managing treatments</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip09">Activities - eating and drinking</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip10">Activities - going out</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip11">Activities - managing money</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip12">Activities - washing and bathing</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip13">Activities - going to the toilet</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip14">Activities - dressing and undressing</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip15">Activities - reading</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip16">Activities - preparing food</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip17">Declaration</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip5/pip18">What happens next - Reference</a></li>

			    </ul>
			</div>
		</div>


</main>

{% endblock %}
=======
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        The GOV.UK prototype kit
        <span class="heading-secondary">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
        This kit lets you rapidly create HTML prototypes of GOV.UK services.
      </p>

      <p>
        It contains all you need to prototype anything from simple static pages to complex, data-driven transactions.
      </p>

      <h2 class="heading-medium">About this page</h2>

      <p>We recommend you add links to your prototype to this page, rather than delete it.
        You'll find this page in the kit at '/app/views/index.html'.</p>
      <p>You can change the service name by editing the file '/app/config.js'.</p>

			<h2 class="heading-medium">Examples and documentation</h2>

			<ul class="list list-bullet">
				<li><a href="/docs/tutorials-and-examples">Example pages and documentation</a></li>
				<li><a href="https://github.com/alphagov/govuk_prototype_kit">GitHub</a></li>
			</ul>

      <h2 class="heading-medium">Other resources</h2>

			<ul class="list list-bullet">
				<li>
					<a href="https://govuk-elements.herokuapp.com/snippets/">
						Guide to GOV.UK Elements
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/service-manual">
						Service design manual
					</a>
				</li>
				<li>
					<a href="https://www.gov.uk/design-principles">
						Government Digital Service Design Principles
					</a>
				</li>
			</ul>

    </div>
  </div>
</main>

{% endblock %}
