{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

<main id="content" role="main">

	<div class="grid-row">
			<div class="column-two-thirds">
				<h1 class="heading-large">PIP Prototypes</h1>

				<h2 class="heading-medium"></h2>
				<ul>
					<li><a href="/pip19/overview">PIP-19 - hcp consent, second declaration added to end</a></li>
				</ul>

				<h2 class="heading-medium"></h2>
				<ul>
					<li><a href="/pip18/overview">PIP-18 - declaration moved to start, tailored help text, verfiy, new check your answers design</a></li>
				</ul>

				<h2 class="heading-medium">Sprint 24</h2>
				<ul>
					<li><a href="/pip17/overview">PIP-17</a></li>
				</ul>

				<h2 class="heading-medium">Sprint 23</h2>
				<ul>
					<li><a href="/pip16/overview">PIP-16 - Non-linear journey V2, moved frequency to under condition affects question.</a></li>
					<li>Screenshots <a href="/public/screens/pip16/pip16.pdf">Pdf</a> / <a href="public/screens/pip16/pip16.zip">Pngs</a></li>
				</ul>

				<h2 class="heading-medium">Sprint 22</h2>
				<ul>
					<li><a href="/pip15/overview">Non-linear journey</a></li>
					<li>Screenshots <a href="/public/screens/pip15/pip15.pdf">Pdf</a> / <a href="public/screens/pip15/pip15.zip">Pngs</a></li>
				</ul>

				<h2 class="heading-medium">Sprint 21</h2>
				<ul>
					<li><a href="/pip14/overview">Eddies New Designs / rebuild</a></li>
					<li>Screenshots <a href="/public/screens/pip14/screens.pdf">Pdf</a> / <a href="public/screens/pip14/screens.zip">Pngs</a></li>
				</ul>

				<h2 class="heading-medium">Sprint 18</h2>
				<ul>
					<li><a href="http://pip-alpha.herokuapp.com/pip14/overview">New ordering of activities questions, added in personal/contact details questions</a></li>
					<li><a href="http://pip-alpha.herokuapp.com/pip14a/overview">Removed introduction text from actitivies questions</a></li>
				</ul>

				<h2 class="heading-medium">Sprint 17</h2>
				<ul>
					<li><a href="http://pip-alpha.herokuapp.com/pip13/overview">New summary screens, more difficulty options, new understanding question</a></li>
				</ul>

				<h2 class="heading-medium">Sprint 16</h2>
				<ul>
					<li><a href="http://pip-alpha.herokuapp.com/pip12/overview">Hearing, seeing, speaking updates</a></li>
				</ul>

				<h2 class="heading-medium">Sprint 15</h2>
				<ul>
					<li><a href="http://pip-alpha.herokuapp.com/pip11/overview">Updates to match java build</a></li>
				</ul>

				<h2 class="heading-medium">Sprint 9</h2>
			    <ul>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip10/overview">Summary screens</a></li>
			    </ul>

				<h2 class="heading-medium">Sprint 8</h2>
			    <ul>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip9/overview">Full journey</a></li>
			    </ul>

				<h2 class="heading-medium">Sprint 7</h2>
			    <ul>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip7/overview">Scenarios, special aids, understanding, variability and review/edit pages</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip8/overview">Scenarios complete</a></li>
			    </ul>

			    <h2 class="heading-medium">Sprint 6</h2>
			    <ul>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip6/overview">Scenario based questions and evidence upload</a></li>
			    </ul>

			    <h2 class="heading-medium">Sprint 5</h2>
			    <ul>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip5/overview">Guided Tell My Story</a></li>
			    </ul>

			    <h2 class="heading-medium">Sprint 4</h2>
			    <ul>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/overview">12 activities and health condition</a></li>
			    </ul>

			    <h2 class="heading-medium">Sprint 3</h2>
			    <ul>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip3/overview">PIP2 route</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip3/overview-2">Radical route</a></li>
			    </ul>

			    <h2 class="heading-medium">Sprint 2</h2>
			    <ul>
			    	<li><a rel="external" href="http://pip-sprint2.herokuapp.com/pip/overview">Combining 7 guard questions</a></li>
			    </ul>

			    <h2 class="heading-medium">Sprint 1</h2>
			    <ul>
			    	<li><a rel="external" href="http://pip-sprint1.herokuapp.com/pip/overview">Guard page</a></li>
			    </ul>

			    <h2 class="heading-medium">Ben's prototype</h2>
			    <ul>
			    	<li><a rel="external" href="http://pip-v1.herokuapp.com/pip/start.html">Ben's prototype</a></li>
			    </ul>

			</div>
			<div class="column-third">
				<h2 class="heading-medium">User journey</h2>
			    <ul>
			    	<li><!--a href="http://pip-alpha.herokuapp.com/full/overview"-->Full journey<!--/a--> </li>
			    	<li><a href="http://pip-alpha.herokuapp.com/mvp/overview">MVP</a>
			    </ul>

			    <h2 class="heading-medium">Ideas</h2>

			    <ul>
			    	<li><a href="http://pip-alpha.herokuapp.com/sandbox/health-conditions">New health condition</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/sandbox/submit-evidence">Submit evidence</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/sandbox/save">Save</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/sandbox/which-channel">Which channel</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/sandbox/bad-day">Bad day</a></li>
			        <li><a href="http://pip-alpha.herokuapp.com/review-flow/personal">Review</a></li>
	            </ul>

			    <h2 class="heading-medium">Pages</h2>
			    <ul>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/overview">GOV.UK - Overview</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/eligibility">GOV.UK - Eligibility</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/how-youre-assessed">GOV.UK - How you're assessed</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/apply">GOV.UK - Apply</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/report-a-change">GOV.UK - Report a change</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip3/before-you-start">Before you start</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip/guard-page">Guard page</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip01">Personal details</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip02">Health condition and medication</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip03">Healthcare Professionals</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip04">HCP Consent</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip05">Activities - communicating</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip06">Activities - mixing with people</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip07">Activities - moving around</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip08">Activities - managing treatments</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip09">Activities - eating and drinking</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip10">Activities - going out</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip11">Activities - managing money</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip12">Activities - washing and bathing</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip13">Activities - going to the toilet</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip14">Activities - dressing and undressing</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip15">Activities - reading</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip16">Activities - preparing food</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip4/pip17">Declaration</a></li>
			    	<li><a href="http://pip-alpha.herokuapp.com/pip5/pip18">What happens next - Reference</a></li>

			    </ul>
			</div>
		</div>


</main>

{% endblock %}
