{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "pip24/macros/elements.html" as elements %}
{% for page in data %}
{% for question in page.careHomeFunding %}
<main id="content" role="main" class="pip24">

	<div class="grid-row">
			<div class="column-two-thirds">

				<form action="/pip24/careHomeFunding{% if edit %}?edit=true{% endif %}" method="post" class="form form-group-frequency">
					{{ elements.header(page,question) }}


          {% set seq = [
            {"id":"ownCosts1", "label":"Yes", "value":"Yes", "HidePanel":"extraFunding"},
            {"id":"ownCosts2", "label":"No",   "value":"No", "showPanel":"extraFunding"},
            {"id":"ownCosts3", "label":"You don't know",   "value":"You don't know", "HidePanel":"extraFunding"}

          ] %}
          {{ elements.radioSelect('funding',question.question,"",answers.funding,seq,"inline") }}

          <div class="panel-indent
          {% if not answers.funding  or answers.funding == 'No' %}js-hidden{% endif %}" id="extraFunding">

          {% set seq2 = [
						{"id":"funding1", "label":"Local authority", "value":"Local authority", "showPanel":"repayAmount",
						"target" 				: "localName",
						"questionBox"		 	  : true,
						"questionBoxId" 		: "localName",
						"questionBoxLabel"  : "Tell us the name of the organisation that is paying",
						"questionBoxAnswer" : answers.localName},
						{"id":"funding2", "label":"Health authority",   "value":"Health authority", "removePanel":"repayAmount",
						"target" 				: "healthName",
						"questionBox"		 	  : true,
						"questionBoxId" 		: "healthName",
						"questionBoxLabel"  : "Tell us the name of the organisation that is paying",
						"questionBoxAnswer" : answers.healthName},
						{"id":"funding3", "label":"Education authority",   "value":"Education authority", "removePanel":"repayAmount",
						"target" 				: "educationName",
						"questionBox"		 	  : true,
						"questionBoxId" 		: "educationName",
						"questionBoxLabel"  : "Tell us the name of the organisation that is paying",
						"textboxAnswer" : answers.educationName},
            {"id":"funding4", "label":"A charity",   "value":"A charity", "removePanel":"repayAmount",
						"target" 				: "charityName",
						"questionBox"		 	  : true,
						"questionBoxId" 		: "charityName",
						"questionBoxLabel"  : "Tell us the name of the organisation that is paying",
						"questionBoxAnswer" : answers.charityName},
            {"id":"funding5", "label":"Department for Work and Pensions", "value":"Department for Work and Pensions", "removePanel":"repayAmount"}
					] %}


					{{ elements.checkbox('optionsCareFunding',"radio",question.question2,'',seq2,answers,answers.optionsCareFunding,"check-uncheck") }}

				</div>

        <div class="form-group-related
        {% if not answers.extrafunding  or answers.funding != 'Local authority' %}js-hidden{% endif %}" id="repayAmount">

                    {% set seq3 = [
                      {"id":"repay1", "label":"Yes", "value":"Yes"},
                      {"id":"repay2", "label":"No",   "value":"No"},
                      {"id":"repay3", "label":"You don't know",   "value":"You don't know"}

                    ] %}
                    {{ elements.radioSelect('repay',question.question4,"",answers.repay,seq3,"inline") }}


								</div>

					{% if answers.skipQuestion.length or edit %}
						{{ elements.returnToMenu(page,question) }}
					{% else %}
						{{ elements.submit(page,question,true,true) }}
					{% endif %}

      </form>
			</div>
			{{ elements.helpline(page) }}
	</div>

</main>

{% endfor %}
{% endfor %}
{% endblock %}
