{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "pip24/macros/elements.html" as elements %}
{% for page in data %}
{% for question in page.exit %}
<main id="content" role="main" class="pip24">

	<div class="grid-row">
			<div class="column-two-thirds">

				<form action="/pip24/{% if edit %}?edit=true{% endif %}" method="post" class="form">
					{{ elements.header(page,question) }}

					<p>When you are ready to carry on with your application, <a href="login">request a new link</a></p>

					<div style="width:97%; background:#eaf4f9; padding:10px; margin:0 0 20px; text-align:center;">
						<p>You need to complete the rest of the application by:</p>
						<p><span class="heading-large">25 November 2016</span></p>
					</div>


        </form>
			</div>
			{{ elements.helpline(page) }}
	</div>

</main>

{% endfor %}
{% endfor %}
{% endblock %}
