{% extends "layout.html" %}

{% block pageTitle %}
	GOV.UK prototyping kit
{% endblock %}

{% block content %}

{% import "pip24/macros/elements.html" as elements %}
{% for page in data %}
{% for question in page.nationality %}
<main id="content" role="main" class="pip24">

	<div class="grid-row">
			<div class="column-two-thirds">

				<form action="/pip24/nationality{% if edit %}?edit=true{% endif %}" method="post" class="form form-nationality pip-typeahead">

<!-- This section was going to be used to test validation on the nationality page

<div id="error-msg" class="error-summary js-hidden" role="group" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
	<h1 class="heading-medium error-summary-heading">There's a problem</h1>
	<p>You must:</p>
	<ul class="error-summary-list">
		<li><a href="#">Enter the right nationality</a></li>
	</ul>
</div

------------------------------------------------------------------------------->

<div id="my-msg" class="mymessage js-hidden">
	<h1 class="heading-medium">Hello</h1>
</div>

					{{ elements.header(page,question) }}

					{% set seq  = [
						{"id":"nationality","value":"British"},
						{"id":"nationality", "value":"Other","showPanel":"otherNationalityCont"}
					] %}
					{{ elements.radioSelect('nationality',question.question,"",answers.nationality,seq,"inline") }}

					<div class="panel-indent {% if answers.nationality != 'Other' %}js-hidden{% endif %}" id="otherNationalityCont">
						{{ elements.genericInput('otherNationality',question.question2, answers.otherNationality) }}
					</div>


					{% set seq2  = [
						{"id":"countryLiving","value":"Yes"},
						{"id":"countryLiving", "value":"No","showPanel":"otherCountry"}
					] %}
					{{ elements.radioSelect('countryLive',question.question3,"",answers.countryLive,seq2,"inline") }}

					<div class="panel-indent {% if answers.countryLiving != 'No' %}js-hidden{% endif %}" id="otherCountry">
            {{ elements.genericInput('countryLiving',question.question4, answers.countryLivingOther) }}
          </div>

					{% set seq3  = [
						{"id":"livingAbroad", "value":"Yes"},
						{"id":"livingAbroad", "value":"No"}
					] %}
					{{ elements.radioSelect('livingAbroad',question.question5,question.q5HintText,answers.livingAbroad,seq3,"inline") }}


				{{ elements.submit(page,question,false,false,false) }}

        </form>
			</div>
			{{ elements.helpline(page) }}
	</div>

</main>

{% endfor %}
{% endfor %}


{% endblock %}
